{
  "service": "AWS Organizations",
  "endpointPrefix": "organizations",
  "protocol": "json",
  "operations": {
    "AcceptHandshake": {
      "name": "AcceptHandshake",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Accepts a handshake by sending an ACCEPTED response to the sender. You can view accepted handshakes in API responses for 30 days before they are deleted.  Only the management account can accept the following handshakes:   Enable all features final confirmation (APPROVE_ALL_FEATURES)   Billing transfer (TRANSFER_RESPONSIBILITY)   For more information, see Enabling all features and Responding to a billing transfer invitation in the Organizations User Guide.  Only a member account can accept the following handshakes:   Invitation to join (INVITE)   Approve all features request (ENABLE_ALL_FEATURES)   For more information, see Responding to invitations and Enabling all features in the Organizations User Guide.",
      "input_shape": "AcceptHandshakeRequest",
      "input": {
        "required": [
          "HandshakeId"
        ],
        "members": {
          "HandshakeId": {
            "shape": "HandshakeId",
            "documentation": "ID for the handshake that you want to accept. The regex pattern for handshake ID string requires \"h-\" followed by from 8 to 32 lowercase letters or digits."
          }
        }
      },
      "output_shape": "AcceptHandshakeResponse",
      "output": {
        "members": {
          "Handshake": {
            "shape": "Handshake",
            "documentation": "A Handshake object. Contains details for the handshake."
          }
        }
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "HandshakeConstraintViolationException",
        "HandshakeNotFoundException",
        "InvalidHandshakeTransitionException",
        "HandshakeAlreadyInStateException",
        "InvalidInputException",
        "ConcurrentModificationException",
        "ServiceException",
        "TooManyRequestsException",
        "AccessDeniedForDependencyException",
        "ConstraintViolationException",
        "MasterCannotLeaveOrganizationException"
      ]
    },
    "AttachPolicy": {
      "name": "AttachPolicy",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Attaches a policy to a root, an organizational unit (OU), or an individual account. How the policy affects accounts depends on the type of policy. Refer to the Organizations User Guide for information about each policy type:    SERVICE_CONTROL_POLICY     RESOURCE_CONTROL_POLICY     DECLARATIVE_POLICY_EC2     BACKUP_POLICY     TAG_POLICY     CHATBOT_POLICY     AISERVICES_OPT_OUT_POLICY     SECURITYHUB_POLICY     UPGRADE_ROLLOUT_POLICY     INSPECTOR_POLICY     BEDROCK_POLICY     S3_POLICY     NETWORK_SECURITY_DIRECTOR_POLICY    You can only call this operation from the management account or a member account that is a delegated administrator.",
      "input_shape": "AttachPolicyRequest",
      "input": {
        "required": [
          "PolicyId",
          "TargetId"
        ],
        "members": {
          "PolicyId": {
            "shape": "PolicyId",
            "documentation": "ID for the policy that you want to attach to the target. You can get the ID for the policy by calling the ListPolicies operation. The regex pattern for a policy ID string requires \"p-\" followed by from 8 to 128 lowercase or uppercase letters, digits, or the underscore character (_)."
          },
          "TargetId": {
            "shape": "PolicyTargetId",
            "documentation": "ID for the root, OU, or account that you want to attach the policy to. You can get the ID by calling the ListRoots, ListOrganizationalUnitsForParent, or ListAccounts operations. The regex pattern for a target ID string requires one of the following:    Root - A string that begins with \"r-\" followed by from 4 to 32 lowercase letters or digits.    Account - A string that consists of exactly 12 digits.    Organizational unit (OU) - A string that begins with \"ou-\" followed by from 4 to 32 lowercase letters or digits (the ID of the root that the OU is in). This string is followed by a second \"-\" dash and from 8 to 32 additional lowercase letters or digits.  "
          }
        }
      },
      "output_shape": null,
      "output": {
        "members": {}
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "ConcurrentModificationException",
        "ConstraintViolationException",
        "DuplicatePolicyAttachmentException",
        "InvalidInputException",
        "PolicyNotFoundException",
        "PolicyTypeNotEnabledException",
        "ServiceException",
        "TargetNotFoundException",
        "TooManyRequestsException",
        "UnsupportedAPIEndpointException",
        "PolicyChangesInProgressException"
      ]
    },
    "CancelHandshake": {
      "name": "CancelHandshake",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Cancels a Handshake. Only the account that sent a handshake can call this operation. The recipient of the handshake can't cancel it, but can use DeclineHandshake to decline. After a handshake is canceled, the recipient can no longer respond to the handshake. You can view canceled handshakes in API responses for 30 days before they are deleted.",
      "input_shape": "CancelHandshakeRequest",
      "input": {
        "required": [
          "HandshakeId"
        ],
        "members": {
          "HandshakeId": {
            "shape": "HandshakeId",
            "documentation": "ID for the handshake that you want to cancel. You can get the ID from the ListHandshakesForOrganization operation. The regex pattern for handshake ID string requires \"h-\" followed by from 8 to 32 lowercase letters or digits."
          }
        }
      },
      "output_shape": "CancelHandshakeResponse",
      "output": {
        "members": {
          "Handshake": {
            "shape": "Handshake",
            "documentation": "A Handshake object. Contains for the handshake that you canceled."
          }
        }
      },
      "errors": [
        "AccessDeniedException",
        "ConcurrentModificationException",
        "HandshakeNotFoundException",
        "InvalidHandshakeTransitionException",
        "HandshakeAlreadyInStateException",
        "InvalidInputException",
        "ServiceException",
        "TooManyRequestsException"
      ]
    },
    "CloseAccount": {
      "name": "CloseAccount",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Closes an Amazon Web Services member account within an organization. You can close an account when all features are enabled . You can't close the management account with this API. This is an asynchronous request that Amazon Web Services performs in the background. Because CloseAccount operates asynchronously, it can return a successful completion message even though account closure might still be in progress. You need to wait a few minutes before the account is fully closed. To check the status of the request, do one of the following:   Use the AccountId that you sent in the CloseAccount request to provide as a parameter to the DescribeAccount operation.  While the close account request is in progress, Account status will indicate PENDING_CLOSURE. When the close account request completes, the status will change to SUSPENDED.    Check the CloudTrail log for the CloseAccountResult event that gets published after the account closes successfully. For information on using CloudTrail with Organizations, see Logging and monitoring in Organizations in the Organizations User Guide.      Resources remaining within the account after closing will be automatically deleted after 90 days. During this 90-day period, the resources won't be available unless you contact Amazon Web Services Support to reopen the account. After 90 days, you can't reopen an account. You might still receive a bill after account closure.    You can close only 10% of member accounts, between 10 and 1000, within a rolling 30 day period. This quota is not bound by a calendar month, but starts when you close an account. After you reach this limit, you can't close additional accounts. For more information, see Closing a member account in your organization and Quotas for Organizations in the Organizations User Guide.    To reinstate a closed account, contact Amazon Web Services Support within the 90-day grace period while the account is in SUSPENDED status.    If the Amazon Web Services account you attempt to close is linked to an Amazon Web Services GovCloud (US) account, the CloseAccount request will close both accounts. To learn important pre-closure details, see  Closing an Amazon Web Services GovCloud (US) account in the  Amazon Web Services GovCloud User Guide.   ",
      "input_shape": "CloseAccountRequest",
      "input": {
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "shape": "AccountId",
            "documentation": "Retrieves the Amazon Web Services account Id for the current CloseAccount API request. "
          }
        }
      },
      "output_shape": null,
      "output": {
        "members": {}
      },
      "errors": [
        "AccessDeniedException",
        "AccountAlreadyClosedException",
        "AccountNotFoundException",
        "AWSOrganizationsNotInUseException",
        "ConcurrentModificationException",
        "ConflictException",
        "ConstraintViolationException",
        "InvalidInputException",
        "ServiceException",
        "TooManyRequestsException",
        "UnsupportedAPIEndpointException"
      ]
    },
    "CreateAccount": {
      "name": "CreateAccount",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Creates an Amazon Web Services account that is automatically a member of the organization whose credentials made the request. This is an asynchronous request that Amazon Web Services performs in the background. Because CreateAccount operates asynchronously, it can return a successful completion message even though account initialization might still be in progress. You might need to wait a few minutes before you can successfully access the account. To check the status of the request, do one of the following:   Use the Id value of the CreateAccountStatus response element from this operation to provide as a parameter to the DescribeCreateAccountStatus operation.   Check the CloudTrail log for the CreateAccountResult event. For information on using CloudTrail with Organizations, see Logging and monitoring in Organizations in the Organizations User Guide.   The user who calls the API to create an account must have the organizations:CreateAccount permission. If you enabled all features in the organization, Organizations creates the required service-linked role named AWSServiceRoleForOrganizations. For more information, see Organizations and service-linked roles in the Organizations User Guide. If the request includes tags, then the requester must have the organizations:TagResource permission. Organizations preconfigures the new member account with a role (named OrganizationAccountAccessRole by default) that grants users in the management account administrator permissions in the new member account. Principals in the management account can assume the role. Organizations clones the company name and address information for the new account from the organization's management account. You can only call this operation from the management account. For more information about creating accounts, see Creating a member account in your organization in the Organizations User Guide.    When you create an account in an organization using the Organizations console, API, or CLI commands, the information required for the account to operate as a standalone account, such as a payment method is not automatically collected. If you must remove an account from your organization later, you can do so only after you provide the missing information. For more information, see Considerations before removing an account from an organization in the Organizations User Guide.   If you get an exception that indicates that you exceeded your account limits for the organization, contact Amazon Web Services Support.   If you get an exception that indicates that the operation failed because your organization is still initializing, wait one hour and then try again. If the error persists, contact Amazon Web Services Support.   It isn't recommended to use CreateAccount to create multiple temporary accounts, and using the CreateAccount API to close accounts is subject to a 30-day usage quota. For information on the requirements and process for closing an account, see Closing a member account in your organization in the Organizations User Guide.     When you create a member account with this operation, you can choose whether to create the account with the IAM User and Role Access to Billing Information switch enabled. If you enable it, IAM users and roles that have appropriate permissions can view billing information for the account. If you disable it, only the account root user can access billing information. For information about how to disable this switch for an account, see Granting access to your billing information and tools. ",
      "input_shape": "CreateAccountRequest",
      "input": {
        "required": [
          "Email",
          "AccountName"
        ],
        "members": {
          "Email": {
            "shape": "Email",
            "documentation": "The email address of the owner to assign to the new member account. This email address must not already be associated with another Amazon Web Services account. You must use a valid email address to complete account creation. The rules for a valid email address:   The address must be a minimum of 6 and a maximum of 64 characters long.   All characters must be 7-bit ASCII characters.   There must be one and only one @ symbol, which separates the local name from the domain name.   The local name can't contain any of the following characters: whitespace, \" ' ( ) &lt; &gt; [ ] : ; , \\ | % &amp;   The local name can't begin with a dot (.)   The domain name can consist of only the characters [a-z],[A-Z],[0-9], hyphen (-), or dot (.)   The domain name can't begin or end with a hyphen (-) or dot (.)   The domain name must contain at least one dot   You can't access the root user of the account or remove an account that was created with an invalid email address."
          },
          "AccountName": {
            "shape": "CreateAccountName",
            "documentation": "The friendly name of the member account."
          },
          "RoleName": {
            "shape": "RoleName",
            "documentation": "The name of an IAM role that Organizations automatically preconfigures in the new member account. This role trusts the management account, allowing users in the management account to assume the role, as permitted by the management account administrator. The role has administrator permissions in the new member account. If you don't specify this parameter, the role name defaults to OrganizationAccountAccessRole. For more information about how to use this role to access the member account, see the following links:    Creating the OrganizationAccountAccessRole in an invited member account in the Organizations User Guide    Steps 2 and 3 in IAM Tutorial: Delegate access across Amazon Web Services accounts using IAM roles in the IAM User Guide    The regex pattern that is used to validate this parameter. The pattern can include uppercase letters, lowercase letters, digits with no spaces, and any of the following characters: =,.@-"
          },
          "IamUserAccessToBilling": {
            "shape": "IAMUserAccessToBilling",
            "documentation": "If set to ALLOW, the new account enables IAM users to access account billing information if they have the required permissions. If set to DENY, only the root user of the new account can access account billing information. For more information, see About IAM access to the Billing and Cost Management console in the Amazon Web Services Billing and Cost Management User Guide. If you don't specify this parameter, the value defaults to ALLOW, and IAM users and roles with the required permissions can access billing information for the new account."
          },
          "Tags": {
            "shape": "Tags",
            "documentation": "A list of tags that you want to attach to the newly created account. For each tag in the list, you must specify both a tag key and a value. You can set the value to an empty string, but you can't set it to null. For more information about tagging, see Tagging Organizations resources in the Organizations User Guide.  If any one of the tags is not valid or if you exceed the maximum allowed number of tags for an account, then the entire request fails and the account is not created. "
          }
        }
      },
      "output_shape": "CreateAccountResponse",
      "output": {
        "members": {
          "CreateAccountStatus": {
            "shape": "CreateAccountStatus",
            "documentation": "A structure that contains details about the request to create an account. This response structure might not be fully populated when you first receive it because account creation is an asynchronous process. You can pass the returned CreateAccountStatus ID as a parameter to DescribeCreateAccountStatus to get status about the progress of the request at later times. You can also check the CloudTrail log for the CreateAccountResult event. For more information, see Logging and monitoring in Organizations in the Organizations User Guide."
          }
        }
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "ConcurrentModificationException",
        "ConstraintViolationException",
        "InvalidInputException",
        "FinalizingOrganizationException",
        "ServiceException",
        "TooManyRequestsException",
        "UnsupportedAPIEndpointException"
      ]
    },
    "CreateGovCloudAccount": {
      "name": "CreateGovCloudAccount",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "This action is available if all of the following are true:   You're authorized to create accounts in the Amazon Web Services GovCloud (US) Region. For more information on the Amazon Web Services GovCloud (US) Region, see the  Amazon Web Services GovCloud User Guide.    You already have an account in the Amazon Web Services GovCloud (US) Region that is paired with a management account of an organization in the commercial Region.   You call this action from the management account of your organization in the commercial Region.   You have the organizations:CreateGovCloudAccount permission.    Organizations automatically creates the required service-linked role named AWSServiceRoleForOrganizations. For more information, see Organizations and service-linked roles in the Organizations User Guide. Amazon Web Services automatically enables CloudTrail for Amazon Web Services GovCloud (US) accounts, but you should also do the following:   Verify that CloudTrail is enabled to store logs.   Create an Amazon S3 bucket for CloudTrail log storage. For more information, see Verifying CloudTrail Is Enabled in the Amazon Web Services GovCloud User Guide.    If the request includes tags, then the requester must have the organizations:TagResource permission. The tags are attached to the commercial account associated with the GovCloud account, rather than the GovCloud account itself. To add tags to the GovCloud account, call the TagResource operation in the GovCloud Region after the new GovCloud account exists. You call this action from the management account of your organization in the commercial Region to create a standalone Amazon Web Services account in the Amazon Web Services GovCloud (US) Region. After the account is created, the management account of an organization in the Amazon Web Services GovCloud (US) Region can invite it to that organization. For more information on inviting standalone accounts in the Amazon Web Services GovCloud (US) to join an organization, see Organizations in the Amazon Web Services GovCloud User Guide. Calling CreateGovCloudAccount is an asynchronous request that Amazon Web Services performs in the background. Because CreateGovCloudAccount operates asynchronously, it can return a successful completion message even though account initialization might still be in progress. You might need to wait a few minutes before you can successfully access the account. To check the status of the request, do one of the following:   Use the OperationId response element from this operation to provide as a parameter to the DescribeCreateAccountStatus operation.   Check the CloudTrail log for the CreateAccountResult event. For information on using CloudTrail with Organizations, see Logging and monitoring in Organizations in the Organizations User Guide.    When you call the CreateGovCloudAccount action, you create two accounts: a standalone account in the Amazon Web Services GovCloud (US) Region and an associated account in the commercial Region for billing and support purposes. The account in the commercial Region is automatically a member of the organization whose credentials made the request. Both accounts are associated with the same email address. A role is created in the new account in the commercial Region that allows the management account in the organization in the commercial Region to assume it. An Amazon Web Services GovCloud (US) account is then created and associated with the commercial account that you just created. A role is also created in the new Amazon Web Services GovCloud (US) account that can be assumed by the Amazon Web Services GovCloud (US) account that is associated with the management account of the commercial organization. For more information and to view a diagram that explains how account access works, see Organizations in the Amazon Web Services GovCloud User Guide. For more information about creating accounts, see Creating a member account in your organization in the Organizations User Guide.    When you create an account in an organization using the Organizations console, API, or CLI commands, the information required for the account to operate as a standalone account is not automatically collected. This includes a payment method and signing the end user license agreement (EULA). If you must remove an account from your organization later, you can do so only after you provide the missing information. For more information, see Considerations before removing an account from an organization in the Organizations User Guide.   If you get an exception that indicates that you exceeded your account limits for the organization, contact Amazon Web Services Support.   If you get an exception that indicates that the operation failed because your organization is still initializing, wait one hour and then try again. If the error persists, contact Amazon Web Services Support.   Using CreateGovCloudAccount to create multiple temporary accounts isn't recommended. You can only close an account from the Amazon Web Services Billing and Cost Management console, and you must be signed in as the root user. For information on the requirements and process for closing an account, see Closing a member account in your organization in the Organizations User Guide.     When you create a member account with this operation, you can choose whether to create the account with the IAM User and Role Access to Billing Information switch enabled. If you enable it, IAM users and roles that have appropriate permissions can view billing information for the account. If you disable it, only the account root user can access billing information. For information about how to disable this switch for an account, see Granting access to your billing information and tools. ",
      "input_shape": "CreateGovCloudAccountRequest",
      "input": {
        "required": [
          "Email",
          "AccountName"
        ],
        "members": {
          "Email": {
            "shape": "Email",
            "documentation": "Specifies the email address of the owner to assign to the new member account in the commercial Region. This email address must not already be associated with another Amazon Web Services account. You must use a valid email address to complete account creation. The rules for a valid email address:   The address must be a minimum of 6 and a maximum of 64 characters long.   All characters must be 7-bit ASCII characters.   There must be one and only one @ symbol, which separates the local name from the domain name.   The local name can't contain any of the following characters: whitespace, \" ' ( ) &lt; &gt; [ ] : ; , \\ | % &amp;   The local name can't begin with a dot (.)   The domain name can consist of only the characters [a-z],[A-Z],[0-9], hyphen (-), or dot (.)   The domain name can't begin or end with a hyphen (-) or dot (.)   The domain name must contain at least one dot   You can't access the root user of the account or remove an account that was created with an invalid email address. Like all request parameters for CreateGovCloudAccount, the request for the email address for the Amazon Web Services GovCloud (US) account originates from the commercial Region, not from the Amazon Web Services GovCloud (US) Region."
          },
          "AccountName": {
            "shape": "CreateAccountName",
            "documentation": "The friendly name of the member account.  The account name can consist of only the characters [a-z],[A-Z],[0-9], hyphen (-), or dot (.) You can't separate characters with a dash (\u2013)."
          },
          "RoleName": {
            "shape": "RoleName",
            "documentation": "(Optional) The name of an IAM role that Organizations automatically preconfigures in the new member accounts in both the Amazon Web Services GovCloud (US) Region and in the commercial Region. This role trusts the management account, allowing users in the management account to assume the role, as permitted by the management account administrator. The role has administrator permissions in the new member account. If you don't specify this parameter, the role name defaults to OrganizationAccountAccessRole. For more information about how to use this role to access the member account, see the following links:    Creating the OrganizationAccountAccessRole in an invited member account in the Organizations User Guide    Steps 2 and 3 in IAM Tutorial: Delegate access across Amazon Web Services accounts using IAM roles in the IAM User Guide    The regex pattern that is used to validate this parameter. The pattern can include uppercase letters, lowercase letters, digits with no spaces, and any of the following characters: =,.@-"
          },
          "IamUserAccessToBilling": {
            "shape": "IAMUserAccessToBilling",
            "documentation": "If set to ALLOW, the new linked account in the commercial Region enables IAM users to access account billing information if they have the required permissions. If set to DENY, only the root user of the new account can access account billing information. For more information, see About IAM access to the Billing and Cost Management console in the Amazon Web Services Billing and Cost Management User Guide. If you don't specify this parameter, the value defaults to ALLOW, and IAM users and roles with the required permissions can access billing information for the new account."
          },
          "Tags": {
            "shape": "Tags",
            "documentation": "A list of tags that you want to attach to the newly created account. These tags are attached to the commercial account associated with the GovCloud account, and not to the GovCloud account itself. To add tags to the actual GovCloud account, call the TagResource operation in the GovCloud region after the new GovCloud account exists. For each tag in the list, you must specify both a tag key and a value. You can set the value to an empty string, but you can't set it to null. For more information about tagging, see Tagging Organizations resources in the Organizations User Guide.  If any one of the tags is not valid or if you exceed the maximum allowed number of tags for an account, then the entire request fails and the account is not created. "
          }
        }
      },
      "output_shape": "CreateGovCloudAccountResponse",
      "output": {
        "members": {
          "CreateAccountStatus": {
            "shape": "CreateAccountStatus",
            "documentation": ""
          }
        }
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "ConcurrentModificationException",
        "ConstraintViolationException",
        "InvalidInputException",
        "FinalizingOrganizationException",
        "ServiceException",
        "TooManyRequestsException",
        "UnsupportedAPIEndpointException"
      ]
    },
    "CreateOrganization": {
      "name": "CreateOrganization",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Creates an Amazon Web Services organization. The account whose user is calling the CreateOrganization operation automatically becomes the management account of the new organization. This operation must be called using credentials from the account that is to become the new organization's management account. The principal must also have the relevant IAM permissions. By default (or if you set the FeatureSet parameter to ALL), the new organization is created with all features enabled and service control policies automatically enabled in the root. If you instead choose to create the organization supporting only the consolidated billing features by setting the FeatureSet parameter to CONSOLIDATED_BILLING, no policy types are enabled by default and you can't use organization policies.",
      "input_shape": "CreateOrganizationRequest",
      "input": {
        "required": [],
        "members": {
          "FeatureSet": {
            "shape": "OrganizationFeatureSet",
            "documentation": "Specifies the feature set supported by the new organization. Each feature set supports different levels of functionality.    CONSOLIDATED_BILLING: All member accounts have their bills consolidated to and paid by the management account. For more information, see Consolidated billing in the Organizations User Guide.  The consolidated billing feature subset isn't available for organizations in the Amazon Web Services GovCloud (US) Region.    ALL: In addition to all the features supported by the consolidated billing feature set, the management account can also apply any policy type to any member account in the organization. For more information, see All features in the Organizations User Guide.  "
          }
        }
      },
      "output_shape": "CreateOrganizationResponse",
      "output": {
        "members": {
          "Organization": {
            "shape": "Organization",
            "documentation": "A structure that contains details about the newly created organization."
          }
        }
      },
      "errors": [
        "AccessDeniedException",
        "AlreadyInOrganizationException",
        "ConcurrentModificationException",
        "ConstraintViolationException",
        "InvalidInputException",
        "ServiceException",
        "TooManyRequestsException",
        "AccessDeniedForDependencyException"
      ]
    },
    "CreateOrganizationalUnit": {
      "name": "CreateOrganizationalUnit",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Creates an organizational unit (OU) within a root or parent OU. An OU is a container for accounts that enables you to organize your accounts to apply policies according to your business requirements. The number of levels deep that you can nest OUs is dependent upon the policy types enabled for that root. For service control policies, the limit is five. For more information about OUs, see Managing organizational units (OUs) in the Organizations User Guide. If the request includes tags, then the requester must have the organizations:TagResource permission. You can only call this operation from the management account.",
      "input_shape": "CreateOrganizationalUnitRequest",
      "input": {
        "required": [
          "ParentId",
          "Name"
        ],
        "members": {
          "ParentId": {
            "shape": "ParentId",
            "documentation": "ID for the parent root or OU that you want to create the new OU in. The regex pattern for a parent ID string requires one of the following:    Root - A string that begins with \"r-\" followed by from 4 to 32 lowercase letters or digits.    Organizational unit (OU) - A string that begins with \"ou-\" followed by from 4 to 32 lowercase letters or digits (the ID of the root that the OU is in). This string is followed by a second \"-\" dash and from 8 to 32 additional lowercase letters or digits.  "
          },
          "Name": {
            "shape": "OrganizationalUnitName",
            "documentation": "The friendly name to assign to the new OU."
          },
          "Tags": {
            "shape": "Tags",
            "documentation": "A list of tags that you want to attach to the newly created OU. For each tag in the list, you must specify both a tag key and a value. You can set the value to an empty string, but you can't set it to null. For more information about tagging, see Tagging Organizations resources in the Organizations User Guide.  If any one of the tags is not valid or if you exceed the allowed number of tags for an OU, then the entire request fails and the OU is not created. "
          }
        }
      },
      "output_shape": "CreateOrganizationalUnitResponse",
      "output": {
        "members": {
          "OrganizationalUnit": {
            "shape": "OrganizationalUnit",
            "documentation": "A structure that contains details about the newly created OU."
          }
        }
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "ConcurrentModificationException",
        "ConstraintViolationException",
        "DuplicateOrganizationalUnitException",
        "InvalidInputException",
        "ParentNotFoundException",
        "ServiceException",
        "TooManyRequestsException"
      ]
    },
    "CreatePolicy": {
      "name": "CreatePolicy",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Creates a policy of a specified type that you can attach to a root, an organizational unit (OU), or an individual Amazon Web Services account. For more information about policies and their use, see Managing Organizations policies. If the request includes tags, then the requester must have the organizations:TagResource permission. You can only call this operation from the management account or a member account that is a delegated administrator.",
      "input_shape": "CreatePolicyRequest",
      "input": {
        "required": [
          "Content",
          "Description",
          "Name",
          "Type"
        ],
        "members": {
          "Content": {
            "shape": "PolicyContent",
            "documentation": "The policy text content to add to the new policy. The text that you supply must adhere to the rules of the policy type you specify in the Type parameter.  The maximum size of a policy document depends on the policy's type. For more information, see Maximum and minimum values in the Organizations User Guide."
          },
          "Description": {
            "shape": "PolicyDescription",
            "documentation": "An optional description to assign to the policy."
          },
          "Name": {
            "shape": "PolicyName",
            "documentation": "The friendly name to assign to the policy. The regex pattern that is used to validate this parameter is a string of any of the characters in the ASCII character range."
          },
          "Type": {
            "shape": "PolicyType",
            "documentation": "The type of policy to create. You can specify one of the following values:    SERVICE_CONTROL_POLICY     RESOURCE_CONTROL_POLICY     DECLARATIVE_POLICY_EC2     BACKUP_POLICY     TAG_POLICY     CHATBOT_POLICY     AISERVICES_OPT_OUT_POLICY     SECURITYHUB_POLICY     UPGRADE_ROLLOUT_POLICY     INSPECTOR_POLICY     BEDROCK_POLICY     S3_POLICY     NETWORK_SECURITY_DIRECTOR_POLICY   "
          },
          "Tags": {
            "shape": "Tags",
            "documentation": "A list of tags that you want to attach to the newly created policy. For each tag in the list, you must specify both a tag key and a value. You can set the value to an empty string, but you can't set it to null. For more information about tagging, see Tagging Organizations resources in the Organizations User Guide.  If any one of the tags is not valid or if you exceed the allowed number of tags for a policy, then the entire request fails and the policy is not created. "
          }
        }
      },
      "output_shape": "CreatePolicyResponse",
      "output": {
        "members": {
          "Policy": {
            "shape": "Policy",
            "documentation": "A structure that contains details about the newly created policy."
          }
        }
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "ConcurrentModificationException",
        "ConstraintViolationException",
        "DuplicatePolicyException",
        "InvalidInputException",
        "MalformedPolicyDocumentException",
        "PolicyTypeNotAvailableForOrganizationException",
        "ServiceException",
        "TooManyRequestsException",
        "UnsupportedAPIEndpointException"
      ]
    },
    "DeclineHandshake": {
      "name": "DeclineHandshake",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Declines a Handshake. Only the account that receives a handshake can call this operation. The sender of the handshake can use CancelHandshake to cancel if the handshake hasn't yet been responded to. You can view canceled handshakes in API responses for 30 days before they are deleted.",
      "input_shape": "DeclineHandshakeRequest",
      "input": {
        "required": [
          "HandshakeId"
        ],
        "members": {
          "HandshakeId": {
            "shape": "HandshakeId",
            "documentation": "ID for the handshake that you want to decline. You can get the ID from the ListHandshakesForAccount operation. The regex pattern for handshake ID string requires \"h-\" followed by from 8 to 32 lowercase letters or digits."
          }
        }
      },
      "output_shape": "DeclineHandshakeResponse",
      "output": {
        "members": {
          "Handshake": {
            "shape": "Handshake",
            "documentation": "A Handshake object. Contains details for the declined handshake."
          }
        }
      },
      "errors": [
        "AccessDeniedException",
        "ConcurrentModificationException",
        "HandshakeNotFoundException",
        "InvalidHandshakeTransitionException",
        "HandshakeAlreadyInStateException",
        "InvalidInputException",
        "ServiceException",
        "TooManyRequestsException"
      ]
    },
    "DeleteOrganization": {
      "name": "DeleteOrganization",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Deletes the organization. You can delete an organization only by using credentials from the management account. The organization must be empty of member accounts.",
      "input_shape": null,
      "input": {
        "required": [],
        "members": {}
      },
      "output_shape": null,
      "output": {
        "members": {}
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "ConcurrentModificationException",
        "ConstraintViolationException",
        "InvalidInputException",
        "OrganizationNotEmptyException",
        "ServiceException",
        "TooManyRequestsException"
      ]
    },
    "DeleteOrganizationalUnit": {
      "name": "DeleteOrganizationalUnit",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Deletes an organizational unit (OU) from a root or another OU. You must first remove all accounts and child OUs from the OU that you want to delete. You can only call this operation from the management account.",
      "input_shape": "DeleteOrganizationalUnitRequest",
      "input": {
        "required": [
          "OrganizationalUnitId"
        ],
        "members": {
          "OrganizationalUnitId": {
            "shape": "OrganizationalUnitId",
            "documentation": "ID for the organizational unit that you want to delete. You can get the ID from the ListOrganizationalUnitsForParent operation. The regex pattern for an organizational unit ID string requires \"ou-\" followed by from 4 to 32 lowercase letters or digits (the ID of the root that contains the OU). This string is followed by a second \"-\" dash and from 8 to 32 additional lowercase letters or digits."
          }
        }
      },
      "output_shape": null,
      "output": {
        "members": {}
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "ConcurrentModificationException",
        "InvalidInputException",
        "OrganizationalUnitNotEmptyException",
        "OrganizationalUnitNotFoundException",
        "ServiceException",
        "TooManyRequestsException"
      ]
    },
    "DeletePolicy": {
      "name": "DeletePolicy",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Deletes the specified policy from your organization. Before you perform this operation, you must first detach the policy from all organizational units (OUs), roots, and accounts. You can only call this operation from the management account or a member account that is a delegated administrator.",
      "input_shape": "DeletePolicyRequest",
      "input": {
        "required": [
          "PolicyId"
        ],
        "members": {
          "PolicyId": {
            "shape": "PolicyId",
            "documentation": "ID for the policy that you want to delete. You can get the ID from the ListPolicies or ListPoliciesForTarget operations. The regex pattern for a policy ID string requires \"p-\" followed by from 8 to 128 lowercase or uppercase letters, digits, or the underscore character (_)."
          }
        }
      },
      "output_shape": null,
      "output": {
        "members": {}
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "ConcurrentModificationException",
        "InvalidInputException",
        "PolicyInUseException",
        "PolicyNotFoundException",
        "ServiceException",
        "TooManyRequestsException",
        "UnsupportedAPIEndpointException"
      ]
    },
    "DeleteResourcePolicy": {
      "name": "DeleteResourcePolicy",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Deletes the resource policy from your organization. You can only call this operation from the management account.",
      "input_shape": null,
      "input": {
        "required": [],
        "members": {}
      },
      "output_shape": null,
      "output": {
        "members": {}
      },
      "errors": [
        "AccessDeniedException",
        "ServiceException",
        "UnsupportedAPIEndpointException",
        "TooManyRequestsException",
        "ConcurrentModificationException",
        "ConstraintViolationException",
        "AWSOrganizationsNotInUseException",
        "ResourcePolicyNotFoundException"
      ]
    },
    "DeregisterDelegatedAdministrator": {
      "name": "DeregisterDelegatedAdministrator",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Removes the specified member Amazon Web Services account as a delegated administrator for the specified Amazon Web Services service.  Deregistering a delegated administrator can have unintended impacts on the functionality of the enabled Amazon Web Services service. See the documentation for the enabled service before you deregister a delegated administrator so that you understand any potential impacts.  You can run this action only for Amazon Web Services services that support this feature. For a current list of services that support it, see the column Supports Delegated Administrator in the table at Amazon Web Services Services that you can use with Organizations in the Organizations User Guide.  You can only call this operation from the management account.",
      "input_shape": "DeregisterDelegatedAdministratorRequest",
      "input": {
        "required": [
          "AccountId",
          "ServicePrincipal"
        ],
        "members": {
          "AccountId": {
            "shape": "AccountId",
            "documentation": "The account ID number of the member account in the organization that you want to deregister as a delegated administrator."
          },
          "ServicePrincipal": {
            "shape": "ServicePrincipal",
            "documentation": "The service principal name of an Amazon Web Services service for which the account is a delegated administrator. Delegated administrator privileges are revoked for only the specified Amazon Web Services service from the member account. If the specified service is the only service for which the member account is a delegated administrator, the operation also revokes Organizations read action permissions."
          }
        }
      },
      "output_shape": null,
      "output": {
        "members": {}
      },
      "errors": [
        "AccessDeniedException",
        "AccountNotFoundException",
        "AccountNotRegisteredException",
        "AWSOrganizationsNotInUseException",
        "ConcurrentModificationException",
        "ConstraintViolationException",
        "InvalidInputException",
        "TooManyRequestsException",
        "ServiceException",
        "UnsupportedAPIEndpointException"
      ]
    },
    "DescribeAccount": {
      "name": "DescribeAccount",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Retrieves Organizations-related information about the specified account. You can only call this operation from the management account or a member account that is a delegated administrator.",
      "input_shape": "DescribeAccountRequest",
      "input": {
        "required": [
          "AccountId"
        ],
        "members": {
          "AccountId": {
            "shape": "AccountId",
            "documentation": "The unique identifier (ID) of the Amazon Web Services account that you want information about. You can get the ID from the ListAccounts or ListAccountsForParent operations. The regex pattern for an account ID string requires exactly 12 digits."
          }
        }
      },
      "output_shape": "DescribeAccountResponse",
      "output": {
        "members": {
          "Account": {
            "shape": "Account",
            "documentation": "A structure that contains information about the requested account.  The Status parameter in the API response will be retired on September 9, 2026. Although both the account State and account Status parameters are currently available in the Organizations APIs (DescribeAccount, ListAccounts, ListAccountsForParent), we recommend that you update your scripts or other code to use the State parameter instead of Status before September 9, 2026. "
          }
        }
      },
      "errors": [
        "AccessDeniedException",
        "AccountNotFoundException",
        "AWSOrganizationsNotInUseException",
        "InvalidInputException",
        "ServiceException",
        "TooManyRequestsException"
      ]
    },
    "DescribeCreateAccountStatus": {
      "name": "DescribeCreateAccountStatus",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Retrieves the current status of an asynchronous request to create an account. You can only call this operation from the management account or a member account that is a delegated administrator.",
      "input_shape": "DescribeCreateAccountStatusRequest",
      "input": {
        "required": [
          "CreateAccountRequestId"
        ],
        "members": {
          "CreateAccountRequestId": {
            "shape": "CreateAccountRequestId",
            "documentation": "Specifies the Id value that uniquely identifies the CreateAccount request. You can get the value from the CreateAccountStatus.Id response in an earlier CreateAccount request, or from the ListCreateAccountStatus operation. The regex pattern for a create account request ID string requires \"car-\" followed by from 8 to 32 lowercase letters or digits."
          }
        }
      },
      "output_shape": "DescribeCreateAccountStatusResponse",
      "output": {
        "members": {
          "CreateAccountStatus": {
            "shape": "CreateAccountStatus",
            "documentation": "A structure that contains the current status of an account creation request."
          }
        }
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "CreateAccountStatusNotFoundException",
        "InvalidInputException",
        "ServiceException",
        "TooManyRequestsException",
        "UnsupportedAPIEndpointException"
      ]
    },
    "DescribeEffectivePolicy": {
      "name": "DescribeEffectivePolicy",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Returns the contents of the effective policy for specified policy type and account. The effective policy is the aggregation of any policies of the specified type that the account inherits, plus any policy of that type that is directly attached to the account. This operation applies only to management policies. It does not apply to authorization policies: service control policies (SCPs) and resource control policies (RCPs). For more information about policy inheritance, see Understanding management policy inheritance in the Organizations User Guide. You can call this operation from any account in a organization.",
      "input_shape": "DescribeEffectivePolicyRequest",
      "input": {
        "required": [
          "PolicyType"
        ],
        "members": {
          "PolicyType": {
            "shape": "EffectivePolicyType",
            "documentation": "The type of policy that you want information about. You can specify one of the following values:    DECLARATIVE_POLICY_EC2     BACKUP_POLICY     TAG_POLICY     CHATBOT_POLICY     AISERVICES_OPT_OUT_POLICY     SECURITYHUB_POLICY     UPGRADE_ROLLOUT_POLICY     INSPECTOR_POLICY     BEDROCK_POLICY     S3_POLICY     NETWORK_SECURITY_DIRECTOR_POLICY   "
          },
          "TargetId": {
            "shape": "PolicyTargetId",
            "documentation": "When you're signed in as the management account, specify the ID of the account that you want details about. Specifying an organization root or organizational unit (OU) as the target is not supported."
          }
        }
      },
      "output_shape": "DescribeEffectivePolicyResponse",
      "output": {
        "members": {
          "EffectivePolicy": {
            "shape": "EffectivePolicy",
            "documentation": "The contents of the effective policy."
          }
        }
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "ConstraintViolationException",
        "ServiceException",
        "TooManyRequestsException",
        "TargetNotFoundException",
        "EffectivePolicyNotFoundException",
        "InvalidInputException",
        "UnsupportedAPIEndpointException"
      ]
    },
    "DescribeHandshake": {
      "name": "DescribeHandshake",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Returns details for a handshake. A handshake is the secure exchange of information between two Amazon Web Services accounts: a sender and a recipient. You can view ACCEPTED, DECLINED, or CANCELED handshakes in API Responses for 30 days before they are deleted. You can call this operation from any account in a organization.",
      "input_shape": "DescribeHandshakeRequest",
      "input": {
        "required": [
          "HandshakeId"
        ],
        "members": {
          "HandshakeId": {
            "shape": "HandshakeId",
            "documentation": "ID for the handshake that you want information about. The regex pattern for handshake ID string requires \"h-\" followed by from 8 to 32 lowercase letters or digits."
          }
        }
      },
      "output_shape": "DescribeHandshakeResponse",
      "output": {
        "members": {
          "Handshake": {
            "shape": "Handshake",
            "documentation": "A Handshake object. Contains details for the handshake."
          }
        }
      },
      "errors": [
        "AccessDeniedException",
        "ConcurrentModificationException",
        "HandshakeNotFoundException",
        "InvalidInputException",
        "ServiceException",
        "TooManyRequestsException"
      ]
    },
    "DescribeOrganization": {
      "name": "DescribeOrganization",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Retrieves information about the organization that the user's account belongs to. You can call this operation from any account in a organization.  Even if a policy type is shown as available in the organization, you can disable it separately at the root level with DisablePolicyType. Use ListRoots to see the status of policy types for a specified root. ",
      "input_shape": null,
      "input": {
        "required": [],
        "members": {}
      },
      "output_shape": "DescribeOrganizationResponse",
      "output": {
        "members": {
          "Organization": {
            "shape": "Organization",
            "documentation": "A structure that contains information about the organization.  The AvailablePolicyTypes part of the response is deprecated, and you shouldn't use it in your apps. It doesn't include any policy type supported by Organizations other than SCPs. In the China (Ningxia) Region, no policy type is included. To determine which policy types are enabled in your organization, use the  ListRoots  operation. "
          }
        }
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "ConcurrentModificationException",
        "ServiceException",
        "TooManyRequestsException"
      ]
    },
    "DescribeOrganizationalUnit": {
      "name": "DescribeOrganizationalUnit",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Retrieves information about an organizational unit (OU). You can only call this operation from the management account or a member account that is a delegated administrator.",
      "input_shape": "DescribeOrganizationalUnitRequest",
      "input": {
        "required": [
          "OrganizationalUnitId"
        ],
        "members": {
          "OrganizationalUnitId": {
            "shape": "OrganizationalUnitId",
            "documentation": "ID for the organizational unit that you want details about. You can get the ID from the ListOrganizationalUnitsForParent operation. The regex pattern for an organizational unit ID string requires \"ou-\" followed by from 4 to 32 lowercase letters or digits (the ID of the root that contains the OU). This string is followed by a second \"-\" dash and from 8 to 32 additional lowercase letters or digits."
          }
        }
      },
      "output_shape": "DescribeOrganizationalUnitResponse",
      "output": {
        "members": {
          "OrganizationalUnit": {
            "shape": "OrganizationalUnit",
            "documentation": "A structure that contains details about the specified OU."
          }
        }
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "InvalidInputException",
        "OrganizationalUnitNotFoundException",
        "ServiceException",
        "TooManyRequestsException"
      ]
    },
    "DescribePolicy": {
      "name": "DescribePolicy",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Retrieves information about a policy. You can only call this operation from the management account or a member account that is a delegated administrator.",
      "input_shape": "DescribePolicyRequest",
      "input": {
        "required": [
          "PolicyId"
        ],
        "members": {
          "PolicyId": {
            "shape": "PolicyId",
            "documentation": "ID for the policy that you want details about. You can get the ID from the ListPolicies or ListPoliciesForTarget operations. The regex pattern for a policy ID string requires \"p-\" followed by from 8 to 128 lowercase or uppercase letters, digits, or the underscore character (_)."
          }
        }
      },
      "output_shape": "DescribePolicyResponse",
      "output": {
        "members": {
          "Policy": {
            "shape": "Policy",
            "documentation": "A structure that contains details about the specified policy."
          }
        }
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "InvalidInputException",
        "PolicyNotFoundException",
        "ServiceException",
        "TooManyRequestsException",
        "UnsupportedAPIEndpointException"
      ]
    },
    "DescribeResourcePolicy": {
      "name": "DescribeResourcePolicy",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Retrieves information about a resource policy. You can only call this operation from the management account or a member account that is a delegated administrator.",
      "input_shape": null,
      "input": {
        "required": [],
        "members": {}
      },
      "output_shape": "DescribeResourcePolicyResponse",
      "output": {
        "members": {
          "ResourcePolicy": {
            "shape": "ResourcePolicy",
            "documentation": "A structure that contains details about the resource policy."
          }
        }
      },
      "errors": [
        "AccessDeniedException",
        "ServiceException",
        "UnsupportedAPIEndpointException",
        "TooManyRequestsException",
        "AWSOrganizationsNotInUseException",
        "ResourcePolicyNotFoundException",
        "ConstraintViolationException"
      ]
    },
    "DescribeResponsibilityTransfer": {
      "name": "DescribeResponsibilityTransfer",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Returns details for a transfer. A transfer is an arrangement between two management accounts where one account designates the other with specified responsibilities for their organization.",
      "input_shape": "DescribeResponsibilityTransferRequest",
      "input": {
        "required": [
          "Id"
        ],
        "members": {
          "Id": {
            "shape": "ResponsibilityTransferId",
            "documentation": "ID for the transfer."
          }
        }
      },
      "output_shape": "DescribeResponsibilityTransferResponse",
      "output": {
        "members": {
          "ResponsibilityTransfer": {
            "shape": "ResponsibilityTransfer",
            "documentation": "A ResponsibilityTransfer object. Contains details for a transfer."
          }
        }
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "ResponsibilityTransferNotFoundException",
        "InvalidInputException",
        "ServiceException",
        "TooManyRequestsException",
        "UnsupportedAPIEndpointException"
      ]
    },
    "DetachPolicy": {
      "name": "DetachPolicy",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Detaches a policy from a target root, organizational unit (OU), or account.  If the policy being detached is a service control policy (SCP), the changes to permissions for Identity and Access Management (IAM) users and roles in affected accounts are immediate.  Every root, OU, and account must have at least one SCP attached. If you want to replace the default FullAWSAccess policy with an SCP that limits the permissions that can be delegated, you must attach the replacement SCP before you can remove the default SCP. This is the authorization strategy of an \"allow list\". If you instead attach a second SCP and leave the FullAWSAccess SCP still attached, and specify \"Effect\": \"Deny\" in the second SCP to override the \"Effect\": \"Allow\" in the FullAWSAccess policy (or any other attached SCP), you're using the authorization strategy of a \"deny list\". You can only call this operation from the management account or a member account that is a delegated administrator.",
      "input_shape": "DetachPolicyRequest",
      "input": {
        "required": [
          "PolicyId",
          "TargetId"
        ],
        "members": {
          "PolicyId": {
            "shape": "PolicyId",
            "documentation": "ID for the policy you want to detach. You can get the ID from the ListPolicies or ListPoliciesForTarget operations. The regex pattern for a policy ID string requires \"p-\" followed by from 8 to 128 lowercase or uppercase letters, digits, or the underscore character (_)."
          },
          "TargetId": {
            "shape": "PolicyTargetId",
            "documentation": "ID for the root, OU, or account that you want to detach the policy from. You can get the ID from the ListRoots, ListOrganizationalUnitsForParent, or ListAccounts operations. The regex pattern for a target ID string requires one of the following:    Root - A string that begins with \"r-\" followed by from 4 to 32 lowercase letters or digits.    Account - A string that consists of exactly 12 digits.    Organizational unit (OU) - A string that begins with \"ou-\" followed by from 4 to 32 lowercase letters or digits (the ID of the root that the OU is in). This string is followed by a second \"-\" dash and from 8 to 32 additional lowercase letters or digits.  "
          }
        }
      },
      "output_shape": null,
      "output": {
        "members": {}
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "ConcurrentModificationException",
        "ConstraintViolationException",
        "InvalidInputException",
        "PolicyNotAttachedException",
        "PolicyNotFoundException",
        "ServiceException",
        "TargetNotFoundException",
        "TooManyRequestsException",
        "UnsupportedAPIEndpointException",
        "PolicyChangesInProgressException"
      ]
    },
    "DisableAWSServiceAccess": {
      "name": "DisableAWSServiceAccess",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Disables the integration of an Amazon Web Services service (the service that is specified by ServicePrincipal) with Organizations. When you disable integration, the specified service no longer can create a service-linked role in new accounts in your organization. This means the service can't perform operations on your behalf on any new accounts in your organization. The service can still perform operations in older accounts until the service completes its clean-up from Organizations.  We  strongly recommend  that you don't use this command to disable integration between Organizations and the specified Amazon Web Services service. Instead, use the console or commands that are provided by the specified service. This lets the trusted service perform any required initialization when enabling trusted access, such as creating any required resources and any required clean up of resources when disabling trusted access.  For information about how to disable trusted service access to your organization using the trusted service, see the Learn more link under the Supports Trusted Access column at Amazon Web Services services that you can use with Organizations. on this page. If you disable access by using this command, it causes the following actions to occur:   The service can no longer create a service-linked role in the accounts in your organization. This means that the service can't perform operations on your behalf on any new accounts in your organization. The service can still perform operations in older accounts until the service completes its clean-up from Organizations.    The service can no longer perform tasks in the member accounts in the organization, unless those operations are explicitly permitted by the IAM policies that are attached to your roles. This includes any data aggregation from the member accounts to the management account, or to a delegated administrator account, where relevant.   Some services detect this and clean up any remaining data or resources related to the integration, while other services stop accessing the organization but leave any historical data and configuration in place to support a possible re-enabling of the integration.   Using the other service's console or commands to disable the integration ensures that the other service is aware that it can clean up any resources that are required only for the integration. How the service cleans up its resources in the organization's accounts depends on that service. For more information, see the documentation for the other Amazon Web Services service.   After you perform the DisableAWSServiceAccess operation, the specified service can no longer perform operations in your organization's accounts  For more information about integrating other services with Organizations, including the list of services that work with Organizations, see Using Organizations with other Amazon Web Services services in the Organizations User Guide. You can only call this operation from the management account.",
      "input_shape": "DisableAWSServiceAccessRequest",
      "input": {
        "required": [
          "ServicePrincipal"
        ],
        "members": {
          "ServicePrincipal": {
            "shape": "ServicePrincipal",
            "documentation": "The service principal name of the Amazon Web Services service for which you want to disable integration with your organization. This is typically in the form of a URL, such as  service-abbreviation.amazonaws.com."
          }
        }
      },
      "output_shape": null,
      "output": {
        "members": {}
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "ConcurrentModificationException",
        "ConstraintViolationException",
        "InvalidInputException",
        "ServiceException",
        "TooManyRequestsException",
        "UnsupportedAPIEndpointException"
      ]
    },
    "DisablePolicyType": {
      "name": "DisablePolicyType",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Disables an organizational policy type in a root. A policy of a certain type can be attached to entities in a root only if that type is enabled in the root. After you perform this operation, you no longer can attach policies of the specified type to that root or to any organizational unit (OU) or account in that root. You can undo this by using the EnablePolicyType operation. This is an asynchronous request that Amazon Web Services performs in the background. If you disable a policy type for a root, it still appears enabled for the organization if all features are enabled for the organization. Amazon Web Services recommends that you first use ListRoots to see the status of policy types for a specified root, and then use this operation. You can only call this operation from the management account or a member account that is a delegated administrator.  To view the status of available policy types in the organization, use ListRoots.",
      "input_shape": "DisablePolicyTypeRequest",
      "input": {
        "required": [
          "RootId",
          "PolicyType"
        ],
        "members": {
          "RootId": {
            "shape": "RootId",
            "documentation": "ID for the root in which you want to disable a policy type. You can get the ID from the ListRoots operation. The regex pattern for a root ID string requires \"r-\" followed by from 4 to 32 lowercase letters or digits."
          },
          "PolicyType": {
            "shape": "PolicyType",
            "documentation": "The policy type that you want to disable in this root. You can specify one of the following values:    SERVICE_CONTROL_POLICY     RESOURCE_CONTROL_POLICY     DECLARATIVE_POLICY_EC2     BACKUP_POLICY     TAG_POLICY     CHATBOT_POLICY     AISERVICES_OPT_OUT_POLICY     SECURITYHUB_POLICY     UPGRADE_ROLLOUT_POLICY     INSPECTOR_POLICY     BEDROCK_POLICY     S3_POLICY     NETWORK_SECURITY_DIRECTOR_POLICY   "
          }
        }
      },
      "output_shape": "DisablePolicyTypeResponse",
      "output": {
        "members": {
          "Root": {
            "shape": "Root",
            "documentation": "A structure that shows the root with the updated list of enabled policy types."
          }
        }
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "ConcurrentModificationException",
        "ConstraintViolationException",
        "InvalidInputException",
        "PolicyTypeNotEnabledException",
        "RootNotFoundException",
        "ServiceException",
        "TooManyRequestsException",
        "UnsupportedAPIEndpointException",
        "PolicyChangesInProgressException"
      ]
    },
    "EnableAWSServiceAccess": {
      "name": "EnableAWSServiceAccess",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Provides an Amazon Web Services service (the service that is specified by ServicePrincipal) with permissions to view the structure of an organization, create a service-linked role in all the accounts in the organization, and allow the service to perform operations on behalf of the organization and its accounts. Establishing these permissions can be a first step in enabling the integration of an Amazon Web Services service with Organizations.  We recommend that you enable integration between Organizations and the specified Amazon Web Services service by using the console or commands that are provided by the specified service. Doing so ensures that the service is aware that it can create the resources that are required for the integration. How the service creates those resources in the organization's accounts depends on that service. For more information, see the documentation for the other Amazon Web Services service.  For more information about enabling services to integrate with Organizations, see Using Organizations with other Amazon Web Services services in the Organizations User Guide. You can only call this operation from the management account.",
      "input_shape": "EnableAWSServiceAccessRequest",
      "input": {
        "required": [
          "ServicePrincipal"
        ],
        "members": {
          "ServicePrincipal": {
            "shape": "ServicePrincipal",
            "documentation": "The service principal name of the Amazon Web Services service for which you want to enable integration with your organization. This is typically in the form of a URL, such as  service-abbreviation.amazonaws.com."
          }
        }
      },
      "output_shape": null,
      "output": {
        "members": {}
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "ConcurrentModificationException",
        "ConstraintViolationException",
        "InvalidInputException",
        "ServiceException",
        "TooManyRequestsException",
        "UnsupportedAPIEndpointException"
      ]
    },
    "EnableAllFeatures": {
      "name": "EnableAllFeatures",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Enables all features in an organization. This enables the use of organization policies that can restrict the services and actions that can be called in each account. Until you enable all features, you have access only to consolidated billing, and you can't use any of the advanced account administration features that Organizations supports. For more information, see Enabling all features in your organization in the Organizations User Guide.  This operation is required only for organizations that were created explicitly with only the consolidated billing features enabled. Calling this operation sends a handshake to every invited account in the organization. The feature set change can be finalized and the additional features enabled only after all administrators in the invited accounts approve the change by accepting the handshake.  After you enable all features, you can separately enable or disable individual policy types in a root using EnablePolicyType and DisablePolicyType. To see the status of policy types in a root, use ListRoots. After all invited member accounts accept the handshake, you finalize the feature set change by accepting the handshake that contains \"Action\": \"ENABLE_ALL_FEATURES\". This completes the change. After you enable all features in your organization, the management account in the organization can apply policies on all member accounts. These policies can restrict what users and even administrators in those accounts can do. The management account can apply policies that prevent accounts from leaving the organization. Ensure that your account administrators are aware of this. You can only call this operation from the management account.",
      "input_shape": "EnableAllFeaturesRequest",
      "input": {
        "required": [],
        "members": {}
      },
      "output_shape": "EnableAllFeaturesResponse",
      "output": {
        "members": {
          "Handshake": {
            "shape": "Handshake",
            "documentation": "A structure that contains details about the handshake created to support this request to enable all features in the organization."
          }
        }
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "ConcurrentModificationException",
        "ConstraintViolationException",
        "HandshakeConstraintViolationException",
        "InvalidInputException",
        "ServiceException",
        "TooManyRequestsException"
      ]
    },
    "EnablePolicyType": {
      "name": "EnablePolicyType",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Enables a policy type in a root. After you enable a policy type in a root, you can attach policies of that type to the root, any organizational unit (OU), or account in that root. You can undo this by using the DisablePolicyType operation. This is an asynchronous request that Amazon Web Services performs in the background. Amazon Web Services recommends that you first use ListRoots to see the status of policy types for a specified root, and then use this operation. You can only call this operation from the management account or a member account that is a delegated administrator. You can enable a policy type in a root only if that policy type is available in the organization. To view the status of available policy types in the organization, use ListRoots.",
      "input_shape": "EnablePolicyTypeRequest",
      "input": {
        "required": [
          "RootId",
          "PolicyType"
        ],
        "members": {
          "RootId": {
            "shape": "RootId",
            "documentation": "ID for the root in which you want to enable a policy type. You can get the ID from the ListRoots operation. The regex pattern for a root ID string requires \"r-\" followed by from 4 to 32 lowercase letters or digits."
          },
          "PolicyType": {
            "shape": "PolicyType",
            "documentation": "The policy type that you want to enable. You can specify one of the following values:    SERVICE_CONTROL_POLICY     RESOURCE_CONTROL_POLICY     DECLARATIVE_POLICY_EC2     BACKUP_POLICY     TAG_POLICY     CHATBOT_POLICY     AISERVICES_OPT_OUT_POLICY     SECURITYHUB_POLICY     UPGRADE_ROLLOUT_POLICY     INSPECTOR_POLICY     BEDROCK_POLICY     S3_POLICY     NETWORK_SECURITY_DIRECTOR_POLICY   "
          }
        }
      },
      "output_shape": "EnablePolicyTypeResponse",
      "output": {
        "members": {
          "Root": {
            "shape": "Root",
            "documentation": "A structure that shows the root with the updated list of enabled policy types."
          }
        }
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "ConcurrentModificationException",
        "ConstraintViolationException",
        "InvalidInputException",
        "PolicyTypeAlreadyEnabledException",
        "RootNotFoundException",
        "ServiceException",
        "TooManyRequestsException",
        "PolicyTypeNotAvailableForOrganizationException",
        "UnsupportedAPIEndpointException",
        "PolicyChangesInProgressException"
      ]
    },
    "InviteAccountToOrganization": {
      "name": "InviteAccountToOrganization",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Sends an invitation to another account to join your organization as a member account. Organizations sends email on your behalf to the email address that is associated with the other account's owner. The invitation is implemented as a Handshake whose details are in the response.  If you receive an exception that indicates that you exceeded your account limits for the organization or that the operation failed because your organization is still initializing, wait one hour and then try again. If the error persists after an hour, contact Amazon Web Services Support.  If the request includes tags, then the requester must have the organizations:TagResource permission. You can only call this operation from the management account.",
      "input_shape": "InviteAccountToOrganizationRequest",
      "input": {
        "required": [
          "Target"
        ],
        "members": {
          "Target": {
            "shape": "HandshakeParty",
            "documentation": "The identifier (ID) of the Amazon Web Services account that you want to invite to join your organization. This is a JSON object that contains the following elements:  { \"Type\": \"ACCOUNT\", \"Id\": \"&lt; account id number &gt;\" }  If you use the CLI, you can submit this as a single string, similar to the following example:  --target Id=123456789012,Type=ACCOUNT  If you specify \"Type\": \"ACCOUNT\", you must provide the Amazon Web Services account ID number as the Id. If you specify \"Type\": \"EMAIL\", you must specify the email address that is associated with the account.  --target Id=diego@example.com,Type=EMAIL "
          },
          "Notes": {
            "shape": "HandshakeNotes",
            "documentation": "Additional information that you want to include in the generated email to the recipient account owner."
          },
          "Tags": {
            "shape": "Tags",
            "documentation": "A list of tags that you want to attach to the account when it becomes a member of the organization. For each tag in the list, you must specify both a tag key and a value. You can set the value to an empty string, but you can't set it to null. For more information about tagging, see Tagging Organizations resources in the Organizations User Guide.  Any tags in the request are checked for compliance with any applicable tag policies when the request is made. The request is rejected if the tags in the request don't match the requirements of the policy at that time. Tag policy compliance is  not  checked again when the invitation is accepted and the tags are actually attached to the account. That means that if the tag policy changes between the invitation and the acceptance, then that tags could potentially be non-compliant.   If any one of the tags is not valid or if you exceed the allowed number of tags for an account, then the entire request fails and invitations are not sent. "
          }
        }
      },
      "output_shape": "InviteAccountToOrganizationResponse",
      "output": {
        "members": {
          "Handshake": {
            "shape": "Handshake",
            "documentation": "A structure that contains details about the handshake that is created to support this invitation request."
          }
        }
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "AccountOwnerNotVerifiedException",
        "ConcurrentModificationException",
        "HandshakeConstraintViolationException",
        "DuplicateHandshakeException",
        "ConstraintViolationException",
        "InvalidInputException",
        "FinalizingOrganizationException",
        "ServiceException",
        "TooManyRequestsException"
      ]
    },
    "InviteOrganizationToTransferResponsibility": {
      "name": "InviteOrganizationToTransferResponsibility",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Sends an invitation to another organization's management account to designate your account with the specified responsibilities for their organization. The invitation is implemented as a Handshake whose details are in the response. You can only call this operation from the management account.",
      "input_shape": "InviteOrganizationToTransferResponsibilityRequest",
      "input": {
        "required": [
          "Type",
          "Target",
          "StartTimestamp",
          "SourceName"
        ],
        "members": {
          "Type": {
            "shape": "ResponsibilityTransferType",
            "documentation": "The type of responsibility you want to designate to your organization. Currently, only BILLING is supported."
          },
          "Target": {
            "shape": "HandshakeParty",
            "documentation": "A HandshakeParty object. Contains details for the account you want to invite. Currently, only ACCOUNT and EMAIL are supported."
          },
          "Notes": {
            "shape": "HandshakeNotes",
            "documentation": "Additional information that you want to include in the invitation."
          },
          "StartTimestamp": {
            "shape": "Timestamp",
            "documentation": "Timestamp when the recipient will begin managing the specified responsibilities."
          },
          "SourceName": {
            "shape": "ResponsibilityTransferName",
            "documentation": "Name you want to assign to the transfer."
          },
          "Tags": {
            "shape": "Tags",
            "documentation": "A list of tags that you want to attach to the transfer. For each tag in the list, you must specify both a tag key and a value. You can set the value to an empty string, but you can't set it to null. For more information about tagging, see Tagging Organizations resources in the Organizations User Guide.  Any tags in the request are checked for compliance with any applicable tag policies when the request is made. The request is rejected if the tags in the request don't match the requirements of the policy at that time. Tag policy compliance is  not  checked again when the invitation is accepted and the tags are actually attached to the transfer. That means that if the tag policy changes between the invitation and the acceptance, then that tags could potentially be non-compliant.   If any one of the tags is not valid or if you exceed the allowed number of tags for a transfer, then the entire request fails and invitations are not sent. "
          }
        }
      },
      "output_shape": "InviteOrganizationToTransferResponsibilityResponse",
      "output": {
        "members": {
          "Handshake": {
            "shape": "Handshake",
            "documentation": ""
          }
        }
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "ConcurrentModificationException",
        "ConstraintViolationException",
        "DuplicateHandshakeException",
        "HandshakeConstraintViolationException",
        "InvalidInputException",
        "ServiceException",
        "TooManyRequestsException",
        "UnsupportedAPIEndpointException"
      ]
    },
    "LeaveOrganization": {
      "name": "LeaveOrganization",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Removes a member account from its parent organization. This version of the operation is performed by the account that wants to leave. To remove a member account as a user in the management account, use RemoveAccountFromOrganization instead. You can only call from operation from a member account.    The management account in an organization with all features enabled can set service control policies (SCPs) that can restrict what administrators of member accounts can do. This includes preventing them from successfully calling LeaveOrganization and leaving the organization.   You can leave an organization as a member account only if the account is configured with the information required to operate as a standalone account. When you create an account in an organization using the Organizations console, API, or CLI commands, the information required of standalone accounts is not automatically collected. For each account that you want to make standalone, you must perform the following steps. If any of the steps are already completed for this account, that step doesn't appear.   Choose a support plan   Provide and verify the required contact information   Provide a current payment method   Amazon Web Services uses the payment method to charge for any billable (not free tier) Amazon Web Services activity that occurs while the account isn't attached to an organization. For more information, see Considerations before removing an account from an organization in the Organizations User Guide.   The account that you want to leave must not be a delegated administrator account for any Amazon Web Services service enabled for your organization. If the account is a delegated administrator, you must first change the delegated administrator account to another account that is remaining in the organization.   After the account leaves the organization, all tags that were attached to the account object in the organization are deleted. Amazon Web Services accounts outside of an organization do not support tags.   A newly created account has a waiting period before it can be removed from its organization. You must wait until at least four days after the account was created. Invited accounts aren't subject to this waiting period.   If you are using an organization principal to call LeaveOrganization across multiple accounts, you can only do this up to 5 accounts per second in a single organization.   ",
      "input_shape": null,
      "input": {
        "required": [],
        "members": {}
      },
      "output_shape": null,
      "output": {
        "members": {}
      },
      "errors": [
        "AccessDeniedException",
        "AccountNotFoundException",
        "AWSOrganizationsNotInUseException",
        "ConcurrentModificationException",
        "ConstraintViolationException",
        "InvalidInputException",
        "MasterCannotLeaveOrganizationException",
        "ServiceException",
        "TooManyRequestsException"
      ]
    },
    "ListAWSServiceAccessForOrganization": {
      "name": "ListAWSServiceAccessForOrganization",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Returns a list of the Amazon Web Services services that you enabled to integrate with your organization. After a service on this list creates the resources that it requires for the integration, it can perform operations on your organization and its accounts. For more information about integrating other services with Organizations, including the list of services that currently work with Organizations, see Using Organizations with other Amazon Web Services services in the Organizations User Guide. You can only call this operation from the management account or a member account that is a delegated administrator.",
      "input_shape": "ListAWSServiceAccessForOrganizationRequest",
      "input": {
        "required": [],
        "members": {
          "NextToken": {
            "shape": "NextToken",
            "documentation": "The parameter for receiving additional results if you receive a NextToken response in a previous request. A NextToken response indicates that more output is available. Set this parameter to the value of the previous call's NextToken response to indicate where the output should continue from."
          },
          "MaxResults": {
            "shape": "MaxResults",
            "documentation": "The maximum number of items to return in the response. If more results exist than the specified MaxResults value, a token is included in the response so that you can retrieve the remaining results."
          }
        }
      },
      "output_shape": "ListAWSServiceAccessForOrganizationResponse",
      "output": {
        "members": {
          "EnabledServicePrincipals": {
            "shape": "EnabledServicePrincipals",
            "documentation": "A list of the service principals for the services that are enabled to integrate with your organization. Each principal is a structure that includes the name and the date that it was enabled for integration with Organizations."
          },
          "NextToken": {
            "shape": "NextToken",
            "documentation": "If present, indicates that more output is available than is included in the current response. Use this value in the NextToken request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the NextToken response element comes back as null."
          }
        }
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "ConstraintViolationException",
        "InvalidInputException",
        "ServiceException",
        "TooManyRequestsException",
        "UnsupportedAPIEndpointException"
      ]
    },
    "ListAccounts": {
      "name": "ListAccounts",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Lists all the accounts in the organization. To request only the accounts in a specified root or organizational unit (OU), use the ListAccountsForParent operation instead.  When calling List* operations, always check the NextToken response parameter value, even if you receive an empty result set. These operations can occasionally return an empty set of results even when more results are available. Continue making requests until NextToken returns null. A null NextToken value indicates that you have retrieved all available results.  You can only call this operation from the management account or a member account that is a delegated administrator.",
      "input_shape": "ListAccountsRequest",
      "input": {
        "required": [],
        "members": {
          "NextToken": {
            "shape": "NextToken",
            "documentation": "The parameter for receiving additional results if you receive a NextToken response in a previous request. A NextToken response indicates that more output is available. Set this parameter to the value of the previous call's NextToken response to indicate where the output should continue from."
          },
          "MaxResults": {
            "shape": "MaxResults",
            "documentation": "The maximum number of items to return in the response. If more results exist than the specified MaxResults value, a token is included in the response so that you can retrieve the remaining results."
          }
        }
      },
      "output_shape": "ListAccountsResponse",
      "output": {
        "members": {
          "Accounts": {
            "shape": "Accounts",
            "documentation": "A list of objects in the organization.  The Status parameter in the API response will be retired on September 9, 2026. Although both the account State and account Status parameters are currently available in the Organizations APIs (DescribeAccount, ListAccounts, ListAccountsForParent), we recommend that you update your scripts or other code to use the State parameter instead of Status before September 9, 2026. "
          },
          "NextToken": {
            "shape": "NextToken",
            "documentation": "If present, indicates that more output is available than is included in the current response. Use this value in the NextToken request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the NextToken response element comes back as null."
          }
        }
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "InvalidInputException",
        "ServiceException",
        "TooManyRequestsException"
      ]
    },
    "ListAccountsForParent": {
      "name": "ListAccountsForParent",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Lists the accounts in an organization that are contained by the specified target root or organizational unit (OU). If you specify the root, you get a list of all the accounts that aren't in any OU. If you specify an OU, you get a list of all the accounts in only that OU and not in any child OUs. To get a list of all accounts in the organization, use the ListAccounts operation.  When calling List* operations, always check the NextToken response parameter value, even if you receive an empty result set. These operations can occasionally return an empty set of results even when more results are available. Continue making requests until NextToken returns null. A null NextToken value indicates that you have retrieved all available results.  You can only call this operation from the management account or a member account that is a delegated administrator.",
      "input_shape": "ListAccountsForParentRequest",
      "input": {
        "required": [
          "ParentId"
        ],
        "members": {
          "ParentId": {
            "shape": "ParentId",
            "documentation": "The unique identifier (ID) for the parent root or organization unit (OU) whose accounts you want to list."
          },
          "NextToken": {
            "shape": "NextToken",
            "documentation": "The parameter for receiving additional results if you receive a NextToken response in a previous request. A NextToken response indicates that more output is available. Set this parameter to the value of the previous call's NextToken response to indicate where the output should continue from."
          },
          "MaxResults": {
            "shape": "MaxResults",
            "documentation": "The maximum number of items to return in the response. If more results exist than the specified MaxResults value, a token is included in the response so that you can retrieve the remaining results."
          }
        }
      },
      "output_shape": "ListAccountsForParentResponse",
      "output": {
        "members": {
          "Accounts": {
            "shape": "Accounts",
            "documentation": "A list of the accounts in the specified root or OU.  The Status parameter in the API response will be retired on September 9, 2026. Although both the account State and account Status parameters are currently available in the Organizations APIs (DescribeAccount, ListAccounts, ListAccountsForParent), we recommend that you update your scripts or other code to use the State parameter instead of Status before September 9, 2026. "
          },
          "NextToken": {
            "shape": "NextToken",
            "documentation": "If present, indicates that more output is available than is included in the current response. Use this value in the NextToken request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the NextToken response element comes back as null."
          }
        }
      },
      "errors": [
        "AccessDeniedException",
        "AWSOrganizationsNotInUseException",
        "InvalidInputException",
        "ParentNotFoundException",
        "ServiceException",
        "TooManyRequestsException"
      ]
    },
    "ListAccountsWithInvalidEffectivePolicy": {
      "name": "ListAccountsWithInvalidEffectivePolicy",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "documentation": "Lists all the accounts in an organization that have invalid effective policies. An invalid effective policy is an effective policy that fails validation checks, resulting in the effective policy not being fully enforced on all the intended accounts within an organization. You can only call this operation from the management account or a member account that is a delegated administrator.",
      "input_shape": "ListAccountsWithInvalidEffectivePolicyRequest",
      "input": {
        "required": [
          "PolicyType"
        ],
        "members": {
          "PolicyType": {
            "shape": "EffectivePolicyType",
            "documentation": "The type of policy that you want information about. You can specify one of the following values:    DECLARATIVE_POLICY_EC2     BACKUP_POLICY     TAG_POLICY     CHATBOT_POLICY     AISERVICES_OPT_OUT_POLICY     SECURITYHUB_POLICY     UPGRADE_ROLLOUT_POLICY     INSPECTOR_POLICY     BEDROCK_POLICY     S3_POLICY     NETWORK_SECURITY_DIRECTOR_POLICY   "
          },
          "NextToken": {
            "shape": "NextToken",
            "documentation": "The parameter for receiving additional results if you receive a NextToken response in a previous request. A NextToken response indicates that more output is available. Set this parameter to the value of the previous call's NextToken response to indicate where the output should continue from."
          },
          "MaxResults": {
            "shape": "MaxResults",
            "documentation": "The maximum number of items to return in the response. If more results exist than the specified MaxResults value, a token is included in the response so that you can retrieve the remaining results."
          }
        }
[...]
