{
  "service": "AWS Service Catalog",
  "endpointPrefix": "servicecatalog",
  "protocol": "json",
  "operations": [
    "AcceptPortfolioShare",
    "AssociateBudgetWithResource",
    "AssociatePrincipalWithPortfolio",
    "AssociateProductWithPortfolio",
    "AssociateServiceActionWithProvisioningArtifact",
    "AssociateTagOptionWithResource",
    "BatchAssociateServiceActionWithProvisioningArtifact",
    "BatchDisassociateServiceActionFromProvisioningArtifact",
    "CopyProduct",
    "CreateConstraint",
    "CreatePortfolio",
    "CreatePortfolioShare",
    "CreateProduct",
    "CreateProvisionedProductPlan",
    "CreateProvisioningArtifact",
    "CreateServiceAction",
    "CreateTagOption",
    "DeleteConstraint",
    "DeletePortfolio",
    "DeletePortfolioShare",
    "DeleteProduct",
    "DeleteProvisionedProductPlan",
    "DeleteProvisioningArtifact",
    "DeleteServiceAction",
    "DeleteTagOption",
    "DescribeConstraint",
    "DescribeCopyProductStatus",
    "DescribePortfolio",
    "DescribePortfolioShareStatus",
    "DescribePortfolioShares",
    "DescribeProduct",
    "DescribeProductAsAdmin",
    "DescribeProductView",
    "DescribeProvisionedProduct",
    "DescribeProvisionedProductPlan",
    "DescribeProvisioningArtifact",
    "DescribeProvisioningParameters",
    "DescribeRecord",
    "DescribeServiceAction",
    "DescribeServiceActionExecutionParameters",
    "DescribeTagOption",
    "DisableAWSOrganizationsAccess",
    "DisassociateBudgetFromResource",
    "DisassociatePrincipalFromPortfolio",
    "DisassociateProductFromPortfolio",
    "DisassociateServiceActionFromProvisioningArtifact",
    "DisassociateTagOptionFromResource",
    "EnableAWSOrganizationsAccess",
    "ExecuteProvisionedProductPlan",
    "ExecuteProvisionedProductServiceAction",
    "GetAWSOrganizationsAccessStatus",
    "GetProvisionedProductOutputs",
    "ImportAsProvisionedProduct",
    "ListAcceptedPortfolioShares",
    "ListBudgetsForResource",
    "ListConstraintsForPortfolio",
    "ListLaunchPaths",
    "ListOrganizationPortfolioAccess",
    "ListPortfolioAccess",
    "ListPortfolios",
    "ListPortfoliosForProduct",
    "ListPrincipalsForPortfolio",
    "ListProvisionedProductPlans",
    "ListProvisioningArtifacts",
    "ListProvisioningArtifactsForServiceAction",
    "ListRecordHistory",
    "ListResourcesForTagOption",
    "ListServiceActions",
    "ListServiceActionsForProvisioningArtifact",
    "ListStackInstancesForProvisionedProduct",
    "ListTagOptions",
    "NotifyProvisionProductEngineWorkflowResult",
    "NotifyTerminateProvisionedProductEngineWorkflowResult",
    "NotifyUpdateProvisionedProductEngineWorkflowResult",
    "ProvisionProduct",
    "RejectPortfolioShare",
    "ScanProvisionedProducts",
    "SearchProducts",
    "SearchProductsAsAdmin",
    "SearchProvisionedProducts",
    "TerminateProvisionedProduct",
    "UpdateConstraint",
    "UpdatePortfolio",
    "UpdatePortfolioShare",
    "UpdateProduct",
    "UpdateProvisionedProduct",
    "UpdateProvisionedProductProperties",
    "UpdateProvisioningArtifact",
    "UpdateServiceAction",
    "UpdateTagOption"
  ],
  "operation_count": 90,
  "AcceptPortfolioShare": {
    "description": "<p>Accepts an offer to share the specified portfolio.</p>",
    "errors": [
      "InvalidParametersException",
      "ResourceNotFoundException",
      "LimitExceededException"
    ],
    "input_shape": "AcceptPortfolioShareInput",
    "output_shape": "AcceptPortfolioShareOutput",
    "input": {
      "required": [
        "PortfolioId"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "PortfolioId": {
          "type": "Id",
          "documentation": "<p>The portfolio identifier.</p>"
        },
        "PortfolioShareType": {
          "type": "PortfolioShareType",
          "documentation": "<p>The type of shared portfolios to accept. The default is to accept imported portfolios.</p> <ul> <li> <p> <code>AWS_ORGANIZATIONS</code> - Accept portfolios shared by the management account of your organization.</p> </li> <li> <p> <code>IMPORTED</code> - Accept imported portfolios.</p> </li> <li> <p> <code>AWS_SERVICECATALOG</code> - Not supported. (Throws ResourceNotFoundException.)</p> </li> </ul> <p>For example, <code>aws servicecatalog accept-portfolio-share --portfolio-id \"port-2qwzkwxt3y5fk\" --portfolio-share-type AWS_ORGANIZATIONS</code> </p>"
        }
      }
    }
  },
  "AssociateBudgetWithResource": {
    "description": "<p>Associates the specified budget with the specified resource.</p>",
    "errors": [
      "InvalidParametersException",
      "DuplicateResourceException",
      "LimitExceededException",
      "ResourceNotFoundException"
    ],
    "input_shape": "AssociateBudgetWithResourceInput",
    "output_shape": "AssociateBudgetWithResourceOutput",
    "input": {
      "required": [
        "BudgetName",
        "ResourceId"
      ],
      "members": {
        "BudgetName": {
          "type": "BudgetName",
          "documentation": "<p>The name of the budget you want to associate.</p>"
        },
        "ResourceId": {
          "type": "Id",
          "documentation": "<p> The resource identifier. Either a portfolio-id or a product-id.</p>"
        }
      }
    }
  },
  "AssociatePrincipalWithPortfolio": {
    "description": "<p>Associates the specified principal ARN with the specified portfolio.</p> <p>If you share the portfolio with principal name sharing enabled, the <code>PrincipalARN</code> association is included in the share. </p> <p>The <code>PortfolioID</code>, <code>PrincipalARN</code>, and <code>PrincipalType</code> parameters are required. </p> <p>You can associate a maximum of 10 Principals with a portfolio using <code>PrincipalType</code> as <code>IAM_PATTERN</code>. </p> <note> <p>When you associate a principal with portfolio, a potential privilege escalation path may occur when that portfolio is then shared with other accounts. For a user in a recipient account who is <i>not</i> an Service Catalog Admin, but still has the ability to create Principals (Users/Groups/Roles), that user could create a role that matches a principal name association for the portfolio. Although this user may not know which principal names are associated through Service Catalog, they may be able to guess the user. If this potential escalation path is a concern, then Service Catalog recommends using <code>PrincipalType</code> as <code>IAM</code>. With this configuration, the <code>PrincipalARN</code> must already exist in the recipient account before it can be associated. </p> </note>",
    "errors": [
      "InvalidParametersException",
      "ResourceNotFoundException",
      "LimitExceededException"
    ],
    "input_shape": "AssociatePrincipalWithPortfolioInput",
    "output_shape": "AssociatePrincipalWithPortfolioOutput",
    "input": {
      "required": [
        "PortfolioId",
        "PrincipalARN",
        "PrincipalType"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "PortfolioId": {
          "type": "Id",
          "documentation": "<p>The portfolio identifier.</p>"
        },
        "PrincipalARN": {
          "type": "PrincipalARN",
          "documentation": "<p>The ARN of the principal (user, role, or group). If the <code>PrincipalType</code> is <code>IAM</code>, the supported value is a fully defined <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_identifiers.html#identifiers-arns\">IAM Amazon Resource Name (ARN)</a>. If the <code>PrincipalType</code> is <code>IAM_PATTERN</code>, the supported value is an <code>IAM</code> ARN <i>without an AccountID</i> in the following format:</p> <p> <i>arn:partition:iam:::resource-type/resource-id</i> </p> <p>The ARN resource-id can be either:</p> <ul> <li> <p>A fully formed resource-id. For example, <i>arn:aws:iam:::role/resource-name</i> or <i>arn:aws:iam:::role/resource-path/resource-name</i> </p> </li> <li> <p>A wildcard ARN. The wildcard ARN accepts <code>IAM_PATTERN</code> values with a \"*\" or \"?\" in the resource-id segment of the ARN. For example <i>arn:partition:service:::resource-type/resource-path/resource-name</i>. The new symbols are exclusive to the <b>resource-path</b> and <b>resource-name</b> and cannot replace the <b>resource-type</b> or other ARN values. </p> <p>The ARN path and principal name allow unlimited wildcard characters.</p> </li> </ul> <p>Examples of an <b>acceptable</b> wildcard ARN:</p> <ul> <li> <p>arn:aws:iam:::role/ResourceName_*</p> </li> <li> <p>arn:aws:iam:::role/*/ResourceName_?</p> </li> </ul> <p>Examples of an <b>unacceptable</b> wildcard ARN:</p> <ul> <li> <p>arn:aws:iam:::*/ResourceName</p> </li> </ul> <p>You can associate multiple <code>IAM_PATTERN</code>s even if the account has no principal with that name. </p> <p>The \"?\" wildcard character matches zero or one of any character. This is similar to \".?\" in regular regex context. The \"*\" wildcard character matches any number of any characters. This is similar to \".*\" in regular regex context.</p> <p>In the IAM Principal ARN format (<i>arn:partition:iam:::resource-type/resource-path/resource-name</i>), valid resource-type values include <b>user/</b>, <b>group/</b>, or <b>role/</b>. The \"?\" and \"*\" characters are allowed only after the resource-type in the resource-id segment. You can use special characters anywhere within the resource-id. </p> <p>The \"*\" character also matches the \"/\" character, allowing paths to be formed <i>within</i> the resource-id. For example, <i>arn:aws:iam:::role/<b>*</b>/ResourceName_?</i> matches both <i>arn:aws:iam:::role/pathA/pathB/ResourceName_1</i> and <i>arn:aws:iam:::role/pathA/ResourceName_1</i>. </p>"
        },
        "PrincipalType": {
          "type": "PrincipalType",
          "documentation": "<p>The principal type. The supported value is <code>IAM</code> if you use a fully defined Amazon Resource Name (ARN), or <code>IAM_PATTERN</code> if you use an ARN with no <code>accountID</code>, with or without wildcard characters. </p>"
        }
      }
    }
  },
  "AssociateProductWithPortfolio": {
    "description": "<p>Associates the specified product with the specified portfolio.</p> <p>A delegated admin is authorized to invoke this command.</p>",
    "errors": [
      "InvalidParametersException",
      "ResourceNotFoundException",
      "LimitExceededException"
    ],
    "input_shape": "AssociateProductWithPortfolioInput",
    "output_shape": "AssociateProductWithPortfolioOutput",
    "input": {
      "required": [
        "ProductId",
        "PortfolioId"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "ProductId": {
          "type": "Id",
          "documentation": "<p>The product identifier.</p>"
        },
        "PortfolioId": {
          "type": "Id",
          "documentation": "<p>The portfolio identifier.</p>"
        },
        "SourcePortfolioId": {
          "type": "Id",
          "documentation": "<p>The identifier of the source portfolio.</p>"
        }
      }
    }
  },
  "AssociateServiceActionWithProvisioningArtifact": {
    "description": "<p>Associates a self-service action with a provisioning artifact.</p>",
    "errors": [
      "ResourceNotFoundException",
      "DuplicateResourceException",
      "LimitExceededException",
      "InvalidParametersException"
    ],
    "input_shape": "AssociateServiceActionWithProvisioningArtifactInput",
    "output_shape": "AssociateServiceActionWithProvisioningArtifactOutput",
    "input": {
      "required": [
        "ProductId",
        "ProvisioningArtifactId",
        "ServiceActionId"
      ],
      "members": {
        "ProductId": {
          "type": "Id",
          "documentation": "<p>The product identifier. For example, <code>prod-abcdzk7xy33qa</code>.</p>"
        },
        "ProvisioningArtifactId": {
          "type": "Id",
          "documentation": "<p>The identifier of the provisioning artifact. For example, <code>pa-4abcdjnxjj6ne</code>.</p>"
        },
        "ServiceActionId": {
          "type": "Id",
          "documentation": "<p>The self-service action identifier. For example, <code>act-fs7abcd89wxyz</code>.</p>"
        },
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "IdempotencyToken": {
          "type": "IdempotencyToken",
          "documentation": "<p>A unique identifier that you provide to ensure idempotency. If multiple requests from the same Amazon Web Services account use the same idempotency token, the same response is returned for each repeated request. </p>"
        }
      }
    }
  },
  "AssociateTagOptionWithResource": {
    "description": "<p>Associate the specified TagOption with the specified portfolio or product.</p>",
    "errors": [
      "TagOptionNotMigratedException",
      "ResourceNotFoundException",
      "InvalidParametersException",
      "LimitExceededException",
      "DuplicateResourceException",
      "InvalidStateException"
    ],
    "input_shape": "AssociateTagOptionWithResourceInput",
    "output_shape": "AssociateTagOptionWithResourceOutput",
    "input": {
      "required": [
        "ResourceId",
        "TagOptionId"
      ],
      "members": {
        "ResourceId": {
          "type": "ResourceId",
          "documentation": "<p>The resource identifier.</p>"
        },
        "TagOptionId": {
          "type": "TagOptionId",
          "documentation": "<p>The TagOption identifier.</p>"
        }
      }
    }
  },
  "BatchAssociateServiceActionWithProvisioningArtifact": {
    "description": "<p>Associates multiple self-service actions with provisioning artifacts.</p>",
    "errors": [
      "InvalidParametersException"
    ],
    "input_shape": "BatchAssociateServiceActionWithProvisioningArtifactInput",
    "output_shape": "BatchAssociateServiceActionWithProvisioningArtifactOutput",
    "input": {
      "required": [
        "ServiceActionAssociations"
      ],
      "members": {
        "ServiceActionAssociations": {
          "type": "ServiceActionAssociations",
          "documentation": "<p>One or more associations, each consisting of the Action ID, the Product ID, and the Provisioning Artifact ID.</p>"
        },
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        }
      }
    }
  },
  "BatchDisassociateServiceActionFromProvisioningArtifact": {
    "description": "<p>Disassociates a batch of self-service actions from the specified provisioning artifact.</p>",
    "errors": [
      "InvalidParametersException"
    ],
    "input_shape": "BatchDisassociateServiceActionFromProvisioningArtifactInput",
    "output_shape": "BatchDisassociateServiceActionFromProvisioningArtifactOutput",
    "input": {
      "required": [
        "ServiceActionAssociations"
      ],
      "members": {
        "ServiceActionAssociations": {
          "type": "ServiceActionAssociations",
          "documentation": "<p>One or more associations, each consisting of the Action ID, the Product ID, and the Provisioning Artifact ID.</p>"
        },
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        }
      }
    }
  },
  "CopyProduct": {
    "description": "<p>Copies the specified source product to the specified target product or a new product.</p> <p>You can copy a product to the same account or another account. You can copy a product to the same Region or another Region. If you copy a product to another account, you must first share the product in a portfolio using <a>CreatePortfolioShare</a>.</p> <p>This operation is performed asynchronously. To track the progress of the operation, use <a>DescribeCopyProductStatus</a>.</p>",
    "errors": [
      "ResourceNotFoundException",
      "InvalidParametersException"
    ],
    "input_shape": "CopyProductInput",
    "output_shape": "CopyProductOutput",
    "input": {
      "required": [
        "SourceProductArn",
        "IdempotencyToken"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "SourceProductArn": {
          "type": "ProductArn",
          "documentation": "<p>The Amazon Resource Name (ARN) of the source product.</p>"
        },
        "TargetProductId": {
          "type": "Id",
          "documentation": "<p>The identifier of the target product. By default, a new product is created.</p>"
        },
        "TargetProductName": {
          "type": "ProductViewName",
          "documentation": "<p>A name for the target product. The default is the name of the source product.</p>"
        },
        "SourceProvisioningArtifactIdentifiers": {
          "type": "SourceProvisioningArtifactProperties",
          "documentation": "<p>The identifiers of the provisioning artifacts (also known as versions) of the product to copy. By default, all provisioning artifacts are copied.</p>"
        },
        "CopyOptions": {
          "type": "CopyOptions",
          "documentation": "<p>The copy options. If the value is <code>CopyTags</code>, the tags from the source product are copied to the target product.</p>"
        },
        "IdempotencyToken": {
          "type": "IdempotencyToken",
          "documentation": "<p> A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token, the same response is returned for each repeated request. </p>"
        }
      }
    }
  },
  "CreateConstraint": {
    "description": "<p>Creates a constraint.</p> <p>A delegated admin is authorized to invoke this command.</p>",
    "errors": [
      "ResourceNotFoundException",
      "InvalidParametersException",
      "LimitExceededException",
      "DuplicateResourceException"
    ],
    "input_shape": "CreateConstraintInput",
    "output_shape": "CreateConstraintOutput",
    "input": {
      "required": [
        "PortfolioId",
        "ProductId",
        "Parameters",
        "Type",
        "IdempotencyToken"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "PortfolioId": {
          "type": "Id",
          "documentation": "<p>The portfolio identifier.</p>"
        },
        "ProductId": {
          "type": "Id",
          "documentation": "<p>The product identifier.</p>"
        },
        "Parameters": {
          "type": "ConstraintParameters",
          "documentation": "<p>The constraint parameters, in JSON format. The syntax depends on the constraint type as follows:</p> <dl> <dt>LAUNCH</dt> <dd> <p>You are required to specify either the <code>RoleArn</code> or the <code>LocalRoleName</code> but can't use both.</p> <p>Specify the <code>RoleArn</code> property as follows:</p> <p> <code>{\"RoleArn\" : \"arn:aws:iam::123456789012:role/LaunchRole\"}</code> </p> <p>Specify the <code>LocalRoleName</code> property as follows:</p> <p> <code>{\"LocalRoleName\": \"SCBasicLaunchRole\"}</code> </p> <p>If you specify the <code>LocalRoleName</code> property, when an account uses the launch constraint, the IAM role with that name in the account will be used. This allows launch-role constraints to be account-agnostic so the administrator can create fewer resources per shared account.</p> <note> <p>The given role name must exist in the account used to create the launch constraint and the account of the user who launches a product with this launch constraint.</p> </note> <p>You cannot have both a <code>LAUNCH</code> and a <code>STACKSET</code> constraint.</p> <p>You also cannot have more than one <code>LAUNCH</code> constraint on a product and portfolio.</p> </dd> <dt>NOTIFICATION</dt> <dd> <p>Specify the <code>NotificationArns</code> property as follows:</p> <p> <code>{\"NotificationArns\" : [\"arn:aws:sns:us-east-1:123456789012:Topic\"]}</code> </p> </dd> <dt>RESOURCE_UPDATE</dt> <dd> <p>Specify the <code>TagUpdatesOnProvisionedProduct</code> property as follows:</p> <p> <code>{\"Version\":\"2.0\",\"Properties\":{\"TagUpdateOnProvisionedProduct\":\"String\"}}</code> </p> <p>The <code>TagUpdatesOnProvisionedProduct</code> property accepts a string value of <code>ALLOWED</code> or <code>NOT_ALLOWED</code>.</p> </dd> <dt>STACKSET</dt> <dd> <p>Specify the <code>Parameters</code> property as follows:</p> <p> <code>{\"Version\": \"String\", \"Properties\": {\"AccountList\": [ \"String\" ], \"RegionList\": [ \"String\" ], \"AdminRole\": \"String\", \"ExecutionRole\": \"String\"}}</code> </p> <p>You cannot have both a <code>LAUNCH</code> and a <code>STACKSET</code> constraint.</p> <p>You also cannot have more than one <code>STACKSET</code> constraint on a product and portfolio.</p> <p>Products with a <code>STACKSET</code> constraint will launch an CloudFormation stack set.</p> </dd> <dt>TEMPLATE</dt> <dd> <p>Specify the <code>Rules</code> property. For more information, see <a href=\"http://docs.aws.amazon.com/servicecatalog/latest/adminguide/reference-template_constraint_rules.html\">Template Constraint Rules</a>.</p> </dd> </dl>"
        },
        "Type": {
          "type": "ConstraintType",
          "documentation": "<p>The type of constraint.</p> <ul> <li> <p> <code>LAUNCH</code> </p> </li> <li> <p> <code>NOTIFICATION</code> </p> </li> <li> <p> <code>RESOURCE_UPDATE</code> </p> </li> <li> <p> <code>STACKSET</code> </p> </li> <li> <p> <code>TEMPLATE</code> </p> </li> </ul>"
        },
        "Description": {
          "type": "ConstraintDescription",
          "documentation": "<p>The description of the constraint.</p>"
        },
        "IdempotencyToken": {
          "type": "IdempotencyToken",
          "documentation": "<p>A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token, the same response is returned for each repeated request.</p>"
        }
      }
    }
  },
  "CreatePortfolio": {
    "description": "<p>Creates a portfolio.</p> <p>A delegated admin is authorized to invoke this command.</p>",
    "errors": [
      "InvalidParametersException",
      "LimitExceededException",
      "TagOptionNotMigratedException"
    ],
    "input_shape": "CreatePortfolioInput",
    "output_shape": "CreatePortfolioOutput",
    "input": {
      "required": [
        "DisplayName",
        "ProviderName",
        "IdempotencyToken"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "DisplayName": {
          "type": "PortfolioDisplayName",
          "documentation": "<p>The name to use for display purposes.</p>"
        },
        "Description": {
          "type": "PortfolioDescription",
          "documentation": "<p>The description of the portfolio.</p>"
        },
        "ProviderName": {
          "type": "ProviderName",
          "documentation": "<p>The name of the portfolio provider.</p>"
        },
        "Tags": {
          "type": "AddTags",
          "documentation": "<p>One or more tags.</p>"
        },
        "IdempotencyToken": {
          "type": "IdempotencyToken",
          "documentation": "<p>A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token, the same response is returned for each repeated request.</p>"
        }
      }
    }
  },
  "CreatePortfolioShare": {
    "description": "<p>Shares the specified portfolio with the specified account or organization node. Shares to an organization node can only be created by the management account of an organization or by a delegated administrator. You can share portfolios to an organization, an organizational unit, or a specific account.</p> <p>Note that if a delegated admin is de-registered, they can no longer create portfolio shares.</p> <p> <code>AWSOrganizationsAccess</code> must be enabled in order to create a portfolio share to an organization node.</p> <p>You can't share a shared resource, including portfolios that contain a shared product.</p> <p>If the portfolio share with the specified account or organization node already exists, this action will have no effect and will not return an error. To update an existing share, you must use the <code> UpdatePortfolioShare</code> API instead. </p> <note> <p>When you associate a principal with portfolio, a potential privilege escalation path may occur when that portfolio is then shared with other accounts. For a user in a recipient account who is <i>not</i> an Service Catalog Admin, but still has the ability to create Principals (Users/Groups/Roles), that user could create a role that matches a principal name association for the portfolio. Although this user may not know which principal names are associated through Service Catalog, they may be able to guess the user. If this potential escalation path is a concern, then Service Catalog recommends using <code>PrincipalType</code> as <code>IAM</code>. With this configuration, the <code>PrincipalARN</code> must already exist in the recipient account before it can be associated. </p> </note>",
    "errors": [
      "ResourceNotFoundException",
      "LimitExceededException",
      "InvalidParametersException",
      "OperationNotSupportedException",
      "InvalidStateException"
    ],
    "input_shape": "CreatePortfolioShareInput",
    "output_shape": "CreatePortfolioShareOutput",
    "input": {
      "required": [
        "PortfolioId"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "PortfolioId": {
          "type": "Id",
          "documentation": "<p>The portfolio identifier.</p>"
        },
        "AccountId": {
          "type": "AccountId",
          "documentation": "<p>The Amazon Web Services account ID. For example, <code>123456789012</code>.</p>"
        },
        "OrganizationNode": {
          "type": "OrganizationNode",
          "documentation": "<p>The organization node to whom you are going to share. When you pass <code>OrganizationNode</code>, it creates <code>PortfolioShare</code> for all of the Amazon Web Services accounts that are associated to the <code>OrganizationNode</code>. The output returns a <code>PortfolioShareToken</code>, which enables the administrator to monitor the status of the <code>PortfolioShare</code> creation process.</p>"
        },
        "ShareTagOptions": {
          "type": "Boolean",
          "documentation": "<p>Enables or disables <code>TagOptions </code> sharing when creating the portfolio share. If this flag is not provided, TagOptions sharing is disabled.</p>"
        },
        "SharePrincipals": {
          "type": "Boolean",
          "documentation": "<p>This parameter is only supported for portfolios with an <b>OrganizationalNode</b> Type of <code>ORGANIZATION</code> or <code>ORGANIZATIONAL_UNIT</code>. </p> <p>Enables or disables <code>Principal</code> sharing when creating the portfolio share. If you do <b>not</b> provide this flag, principal sharing is disabled. </p> <p>When you enable Principal Name Sharing for a portfolio share, the share recipient account end users with a principal that matches any of the associated IAM patterns can provision products from the portfolio. Once shared, the share recipient can view associations of <code>PrincipalType</code>: <code>IAM_PATTERN</code> on their portfolio. You can create the principals in the recipient account before or after creating the share. </p>"
        }
      }
    }
  },
  "CreateProduct": {
    "description": "<p>Creates a product.</p> <p>A delegated admin is authorized to invoke this command.</p> <p>The user or role that performs this operation must have the <code>cloudformation:GetTemplate</code> IAM policy permission. This policy permission is required when using the <code>ImportFromPhysicalId</code> template source in the information data section.</p>",
    "errors": [
      "InvalidParametersException",
      "LimitExceededException",
      "TagOptionNotMigratedException"
    ],
    "input_shape": "CreateProductInput",
    "output_shape": "CreateProductOutput",
    "input": {
      "required": [
        "Name",
        "Owner",
        "ProductType",
        "IdempotencyToken"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "Name": {
          "type": "ProductViewName",
          "documentation": "<p>The name of the product.</p>"
        },
        "Owner": {
          "type": "ProductViewOwner",
          "documentation": "<p>The owner of the product.</p>"
        },
        "Description": {
          "type": "ProductViewShortDescription",
          "documentation": "<p>The description of the product.</p>"
        },
        "Distributor": {
          "type": "ProductViewOwner",
          "documentation": "<p>The distributor of the product.</p>"
        },
        "SupportDescription": {
          "type": "SupportDescription",
          "documentation": "<p>The support information about the product.</p>"
        },
        "SupportEmail": {
          "type": "SupportEmail",
          "documentation": "<p>The contact email for product support.</p>"
        },
        "SupportUrl": {
          "type": "SupportUrl",
          "documentation": "<p>The contact URL for product support.</p> <p> <code>^https?:\\/\\// </code>/ is the pattern used to validate SupportUrl.</p>"
        },
        "ProductType": {
          "type": "ProductType",
          "documentation": "<p>The type of product.</p>"
        },
        "Tags": {
          "type": "AddTags",
          "documentation": "<p>One or more tags.</p>"
        },
        "ProvisioningArtifactParameters": {
          "type": "ProvisioningArtifactProperties",
          "documentation": "<p>The configuration of the provisioning artifact. </p>"
        },
        "IdempotencyToken": {
          "type": "IdempotencyToken",
          "documentation": "<p>A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token, the same response is returned for each repeated request.</p>"
        },
        "SourceConnection": {
          "type": "SourceConnection",
          "documentation": "<p>Specifies connection details for the created product and syncs the product to the connection source artifact. This automatically manages the product's artifacts based on changes to the source. The <code>SourceConnection</code> parameter consists of the following sub-fields.</p> <ul> <li> <p> <code>Type</code> </p> </li> <li> <p> <code>ConnectionParamters</code> </p> </li> </ul>"
        }
      }
    }
  },
  "CreateProvisionedProductPlan": {
    "description": "<p>Creates a plan.</p> <p>A plan includes the list of resources to be created (when provisioning a new product) or modified (when updating a provisioned product) when the plan is executed.</p> <p>You can create one plan for each provisioned product. To create a plan for an existing provisioned product, the product status must be AVAILABLE or TAINTED.</p> <p>To view the resource changes in the change set, use <a>DescribeProvisionedProductPlan</a>. To create or modify the provisioned product, use <a>ExecuteProvisionedProductPlan</a>.</p>",
    "errors": [
      "InvalidParametersException",
      "ResourceNotFoundException",
      "InvalidStateException"
    ],
    "input_shape": "CreateProvisionedProductPlanInput",
    "output_shape": "CreateProvisionedProductPlanOutput",
    "input": {
      "required": [
        "PlanName",
        "PlanType",
        "ProductId",
        "ProvisionedProductName",
        "ProvisioningArtifactId",
        "IdempotencyToken"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "PlanName": {
          "type": "ProvisionedProductPlanName",
          "documentation": "<p>The name of the plan.</p>"
        },
        "PlanType": {
          "type": "ProvisionedProductPlanType",
          "documentation": "<p>The plan type.</p>"
        },
        "NotificationArns": {
          "type": "NotificationArns",
          "documentation": "<p>Passed to CloudFormation. The SNS topic ARNs to which to publish stack-related events.</p>"
        },
        "PathId": {
          "type": "Id",
          "documentation": "<p>The path identifier of the product. This value is optional if the product has a default path, and required if the product has more than one path. To list the paths for a product, use <a>ListLaunchPaths</a>.</p>"
        },
        "ProductId": {
          "type": "Id",
          "documentation": "<p>The product identifier.</p>"
        },
        "ProvisionedProductName": {
          "type": "ProvisionedProductName",
          "documentation": "<p>A user-friendly name for the provisioned product. This value must be unique for the Amazon Web Services account and cannot be updated after the product is provisioned.</p>"
        },
        "ProvisioningArtifactId": {
          "type": "Id",
          "documentation": "<p>The identifier of the provisioning artifact.</p>"
        },
        "ProvisioningParameters": {
          "type": "UpdateProvisioningParameters",
          "documentation": "<p>Parameters specified by the administrator that are required for provisioning the product.</p>"
        },
        "IdempotencyToken": {
          "type": "IdempotencyToken",
          "documentation": "<p>A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token, the same response is returned for each repeated request.</p>"
        },
        "Tags": {
          "type": "Tags",
          "documentation": "<p>One or more tags.</p> <p>If the plan is for an existing provisioned product, the product must have a <code>RESOURCE_UPDATE</code> constraint with <code>TagUpdatesOnProvisionedProduct</code> set to <code>ALLOWED</code> to allow tag updates.</p>"
        }
      }
    }
  },
  "CreateProvisioningArtifact": {
    "description": "<p>Creates a provisioning artifact (also known as a version) for the specified product.</p> <p>You cannot create a provisioning artifact for a product that was shared with you.</p> <p>The user or role that performs this operation must have the <code>cloudformation:GetTemplate</code> IAM policy permission. This policy permission is required when using the <code>ImportFromPhysicalId</code> template source in the information data section.</p>",
    "errors": [
      "ResourceNotFoundException",
      "InvalidParametersException",
      "LimitExceededException"
    ],
    "input_shape": "CreateProvisioningArtifactInput",
    "output_shape": "CreateProvisioningArtifactOutput",
    "input": {
      "required": [
        "ProductId",
        "Parameters",
        "IdempotencyToken"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "ProductId": {
          "type": "Id",
          "documentation": "<p>The product identifier.</p>"
        },
        "Parameters": {
          "type": "ProvisioningArtifactProperties",
          "documentation": "<p>The configuration for the provisioning artifact.</p>"
        },
        "IdempotencyToken": {
          "type": "IdempotencyToken",
          "documentation": "<p>A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token, the same response is returned for each repeated request.</p>"
        }
      }
    }
  },
  "CreateServiceAction": {
    "description": "<p>Creates a self-service action.</p>",
    "errors": [
      "InvalidParametersException",
      "LimitExceededException"
    ],
    "input_shape": "CreateServiceActionInput",
    "output_shape": "CreateServiceActionOutput",
    "input": {
      "required": [
        "Name",
        "DefinitionType",
        "Definition",
        "IdempotencyToken"
      ],
      "members": {
        "Name": {
          "type": "ServiceActionName",
          "documentation": "<p>The self-service action name.</p>"
        },
        "DefinitionType": {
          "type": "ServiceActionDefinitionType",
          "documentation": "<p>The service action definition type. For example, <code>SSM_AUTOMATION</code>.</p>"
        },
        "Definition": {
          "type": "ServiceActionDefinitionMap",
          "documentation": "<p>The self-service action definition. Can be one of the following:</p> <dl> <dt>Name</dt> <dd> <p>The name of the Amazon Web Services Systems Manager document (SSM document). For example, <code>AWS-RestartEC2Instance</code>.</p> <p>If you are using a shared SSM document, you must provide the ARN instead of the name.</p> </dd> <dt>Version</dt> <dd> <p>The Amazon Web Services Systems Manager automation document version. For example, <code>\"Version\": \"1\"</code> </p> </dd> <dt>AssumeRole</dt> <dd> <p>The Amazon Resource Name (ARN) of the role that performs the self-service actions on your behalf. For example, <code>\"AssumeRole\": \"arn:aws:iam::12345678910:role/ActionRole\"</code>.</p> <p>To reuse the provisioned product launch role, set to <code>\"AssumeRole\": \"LAUNCH_ROLE\"</code>.</p> </dd> <dt>Parameters</dt> <dd> <p>The list of parameters in JSON format.</p> <p>For example: <code>[{\\\"Name\\\":\\\"InstanceId\\\",\\\"Type\\\":\\\"TARGET\\\"}]</code> or <code>[{\\\"Name\\\":\\\"InstanceId\\\",\\\"Type\\\":\\\"TEXT_VALUE\\\"}]</code>.</p> </dd> </dl>"
        },
        "Description": {
          "type": "ServiceActionDescription",
          "documentation": "<p>The self-service action description.</p>"
        },
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "IdempotencyToken": {
          "type": "IdempotencyToken",
          "documentation": "<p>A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token, the same response is returned for each repeated request.</p>"
        }
      }
    }
  },
  "CreateTagOption": {
    "description": "<p>Creates a TagOption.</p>",
    "errors": [
      "TagOptionNotMigratedException",
      "DuplicateResourceException",
      "LimitExceededException"
    ],
    "input_shape": "CreateTagOptionInput",
    "output_shape": "CreateTagOptionOutput",
    "input": {
      "required": [
        "Key",
        "Value"
      ],
      "members": {
        "Key": {
          "type": "TagOptionKey",
          "documentation": "<p>The TagOption key.</p>"
        },
        "Value": {
          "type": "TagOptionValue",
          "documentation": "<p>The TagOption value.</p>"
        }
      }
    }
  },
  "DeleteConstraint": {
    "description": "<p>Deletes the specified constraint.</p> <p>A delegated admin is authorized to invoke this command.</p>",
    "errors": [
      "ResourceNotFoundException",
      "InvalidParametersException"
    ],
    "input_shape": "DeleteConstraintInput",
    "output_shape": "DeleteConstraintOutput",
    "input": {
      "required": [
        "Id"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "Id": {
          "type": "Id",
          "documentation": "<p>The identifier of the constraint.</p>"
        }
      }
    }
  },
  "DeletePortfolio": {
    "description": "<p>Deletes the specified portfolio.</p> <p>You cannot delete a portfolio if it was shared with you or if it has associated products, users, constraints, or shared accounts.</p> <p>A delegated admin is authorized to invoke this command.</p>",
    "errors": [
      "ResourceNotFoundException",
      "InvalidParametersException",
      "ResourceInUseException",
      "TagOptionNotMigratedException"
    ],
    "input_shape": "DeletePortfolioInput",
    "output_shape": "DeletePortfolioOutput",
    "input": {
      "required": [
        "Id"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "Id": {
          "type": "Id",
          "documentation": "<p>The portfolio identifier.</p>"
        }
      }
    }
  },
  "DeletePortfolioShare": {
    "description": "<p>Stops sharing the specified portfolio with the specified account or organization node. Shares to an organization node can only be deleted by the management account of an organization or by a delegated administrator.</p> <p>Note that if a delegated admin is de-registered, portfolio shares created from that account are removed.</p>",
    "errors": [
      "ResourceNotFoundException",
      "InvalidParametersException",
      "OperationNotSupportedException",
      "InvalidStateException"
    ],
    "input_shape": "DeletePortfolioShareInput",
    "output_shape": "DeletePortfolioShareOutput",
    "input": {
      "required": [
        "PortfolioId"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "PortfolioId": {
          "type": "Id",
          "documentation": "<p>The portfolio identifier.</p>"
        },
        "AccountId": {
          "type": "AccountId",
          "documentation": "<p>The Amazon Web Services account ID.</p>"
        },
        "OrganizationNode": {
          "type": "OrganizationNode",
          "documentation": "<p>The organization node to whom you are going to stop sharing.</p>"
        }
      }
    }
  },
  "DeleteProduct": {
    "description": "<p>Deletes the specified product.</p> <p>You cannot delete a product if it was shared with you or is associated with a portfolio.</p> <p>A delegated admin is authorized to invoke this command.</p>",
    "errors": [
      "ResourceNotFoundException",
      "ResourceInUseException",
      "InvalidParametersException",
      "TagOptionNotMigratedException"
    ],
    "input_shape": "DeleteProductInput",
    "output_shape": "DeleteProductOutput",
    "input": {
      "required": [
        "Id"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "Id": {
          "type": "Id",
          "documentation": "<p>The product identifier.</p>"
        }
      }
    }
  },
  "DeleteProvisionedProductPlan": {
    "description": "<p>Deletes the specified plan.</p>",
    "errors": [
      "InvalidParametersException",
      "ResourceNotFoundException"
    ],
    "input_shape": "DeleteProvisionedProductPlanInput",
    "output_shape": "DeleteProvisionedProductPlanOutput",
    "input": {
      "required": [
        "PlanId"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "PlanId": {
          "type": "Id",
          "documentation": "<p>The plan identifier.</p>"
        },
        "IgnoreErrors": {
          "type": "IgnoreErrors",
          "documentation": "<p>If set to true, Service Catalog stops managing the specified provisioned product even if it cannot delete the underlying resources.</p>"
        }
      }
    }
  },
  "DeleteProvisioningArtifact": {
    "description": "<p>Deletes the specified provisioning artifact (also known as a version) for the specified product.</p> <p>You cannot delete a provisioning artifact associated with a product that was shared with you. You cannot delete the last provisioning artifact for a product, because a product must have at least one provisioning artifact.</p>",
    "errors": [
      "ResourceNotFoundException",
      "ResourceInUseException",
      "InvalidParametersException"
    ],
    "input_shape": "DeleteProvisioningArtifactInput",
    "output_shape": "DeleteProvisioningArtifactOutput",
    "input": {
      "required": [
        "ProductId",
        "ProvisioningArtifactId"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "ProductId": {
          "type": "Id",
          "documentation": "<p>The product identifier.</p>"
        },
        "ProvisioningArtifactId": {
          "type": "Id",
          "documentation": "<p>The identifier of the provisioning artifact.</p>"
        }
      }
    }
  },
  "DeleteServiceAction": {
    "description": "<p>Deletes a self-service action.</p>",
    "errors": [
      "ResourceNotFoundException",
      "ResourceInUseException",
      "InvalidParametersException"
    ],
    "input_shape": "DeleteServiceActionInput",
    "output_shape": "DeleteServiceActionOutput",
    "input": {
      "required": [
        "Id"
      ],
      "members": {
        "Id": {
          "type": "Id",
          "documentation": "<p>The self-service action identifier. For example, <code>act-fs7abcd89wxyz</code>.</p>"
        },
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "IdempotencyToken": {
          "type": "IdempotencyToken",
          "documentation": "<p>A unique identifier that you provide to ensure idempotency. If multiple requests from the same Amazon Web Services account use the same idempotency token, the same response is returned for each repeated request. </p>"
        }
      }
    }
  },
  "DeleteTagOption": {
    "description": "<p>Deletes the specified TagOption.</p> <p>You cannot delete a TagOption if it is associated with a product or portfolio.</p>",
    "errors": [
      "TagOptionNotMigratedException",
      "ResourceInUseException",
      "ResourceNotFoundException"
    ],
    "input_shape": "DeleteTagOptionInput",
    "output_shape": "DeleteTagOptionOutput",
    "input": {
      "required": [
        "Id"
      ],
      "members": {
        "Id": {
          "type": "TagOptionId",
          "documentation": "<p>The TagOption identifier.</p>"
        }
      }
    }
  },
  "DescribeConstraint": {
    "description": "<p>Gets information about the specified constraint.</p>",
    "errors": [
      "ResourceNotFoundException"
    ],
    "input_shape": "DescribeConstraintInput",
    "output_shape": "DescribeConstraintOutput",
    "input": {
      "required": [
        "Id"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "Id": {
          "type": "Id",
          "documentation": "<p>The identifier of the constraint.</p>"
        }
      }
    }
  },
  "DescribeCopyProductStatus": {
    "description": "<p>Gets the status of the specified copy product operation.</p>",
    "errors": [
      "ResourceNotFoundException"
    ],
    "input_shape": "DescribeCopyProductStatusInput",
    "output_shape": "DescribeCopyProductStatusOutput",
    "input": {
      "required": [
        "CopyProductToken"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "CopyProductToken": {
          "type": "Id",
          "documentation": "<p>The token for the copy product operation. This token is returned by <a>CopyProduct</a>.</p>"
        }
      }
    }
  },
  "DescribePortfolio": {
    "description": "<p>Gets information about the specified portfolio.</p> <p>A delegated admin is authorized to invoke this command.</p>",
    "errors": [
      "ResourceNotFoundException"
    ],
    "input_shape": "DescribePortfolioInput",
    "output_shape": "DescribePortfolioOutput",
    "input": {
      "required": [
        "Id"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "Id": {
          "type": "Id",
          "documentation": "<p>The portfolio identifier.</p>"
        }
      }
    }
  },
  "DescribePortfolioShareStatus": {
    "description": "<p>Gets the status of the specified portfolio share operation. This API can only be called by the management account in the organization or by a delegated admin.</p>",
    "errors": [
      "ResourceNotFoundException",
      "InvalidParametersException",
      "OperationNotSupportedException"
    ],
    "input_shape": "DescribePortfolioShareStatusInput",
    "output_shape": "DescribePortfolioShareStatusOutput",
    "input": {
      "required": [
        "PortfolioShareToken"
      ],
      "members": {
        "PortfolioShareToken": {
          "type": "Id",
          "documentation": "<p>The token for the portfolio share operation. This token is returned either by CreatePortfolioShare or by DeletePortfolioShare.</p>"
        }
      }
    }
  },
  "DescribePortfolioShares": {
    "description": "<p>Returns a summary of each of the portfolio shares that were created for the specified portfolio.</p> <p>You can use this API to determine which accounts or organizational nodes this portfolio have been shared, whether the recipient entity has imported the share, and whether TagOptions are included with the share.</p> <p>The <code>PortfolioId</code> and <code>Type</code> parameters are both required.</p>",
    "errors": [
      "ResourceNotFoundException",
      "InvalidParametersException"
    ],
    "input_shape": "DescribePortfolioSharesInput",
    "output_shape": "DescribePortfolioSharesOutput",
    "input": {
      "required": [
        "PortfolioId",
        "Type"
      ],
      "members": {
        "PortfolioId": {
          "type": "Id",
          "documentation": "<p>The unique identifier of the portfolio for which shares will be retrieved.</p>"
        },
        "Type": {
          "type": "DescribePortfolioShareType",
          "documentation": "<p>The type of portfolio share to summarize. This field acts as a filter on the type of portfolio share, which can be one of the following:</p> <p>1. <code>ACCOUNT</code> - Represents an external account to account share.</p> <p>2. <code>ORGANIZATION</code> - Represents a share to an organization. This share is available to every account in the organization.</p> <p>3. <code>ORGANIZATIONAL_UNIT</code> - Represents a share to an organizational unit.</p> <p>4. <code>ORGANIZATION_MEMBER_ACCOUNT</code> - Represents a share to an account in the organization.</p>"
        },
        "PageToken": {
          "type": "PageToken",
          "documentation": "<p>The page token for the next set of results. To retrieve the first set of results, use null.</p>"
        },
        "PageSize": {
          "type": "PageSizeMax100",
          "documentation": "<p>The maximum number of items to return with this call.</p>"
        }
      }
    }
  },
  "DescribeProduct": {
    "description": "<p>Gets information about the specified product.</p> <note> <p> Running this operation with administrator access results in a failure. <a>DescribeProductAsAdmin</a> should be used instead. </p> </note>",
    "errors": [
      "ResourceNotFoundException",
      "InvalidParametersException"
    ],
    "input_shape": "DescribeProductInput",
    "output_shape": "DescribeProductOutput",
    "input": {
      "required": [],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "Id": {
          "type": "Id",
          "documentation": "<p>The product identifier.</p>"
        },
        "Name": {
          "type": "ProductViewName",
          "documentation": "<p>The product name.</p>"
        }
      }
    }
  },
  "DescribeProductAsAdmin": {
    "description": "<p>Gets information about the specified product. This operation is run with administrator access.</p>",
    "errors": [
      "ResourceNotFoundException",
      "InvalidParametersException"
    ],
    "input_shape": "DescribeProductAsAdminInput",
    "output_shape": "DescribeProductAsAdminOutput",
    "input": {
      "required": [],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "Id": {
          "type": "Id",
          "documentation": "<p>The product identifier.</p>"
        },
        "Name": {
          "type": "ProductViewName",
          "documentation": "<p>The product name.</p>"
        },
        "SourcePortfolioId": {
          "type": "Id",
          "documentation": "<p>The unique identifier of the shared portfolio that the specified product is associated with.</p> <p>You can provide this parameter to retrieve the shared TagOptions associated with the product. If this parameter is provided and if TagOptions sharing is enabled in the portfolio share, the API returns both local and shared TagOptions associated with the product. Otherwise only local TagOptions will be returned. </p>"
        }
      }
    }
  },
  "DescribeProductView": {
    "description": "<p>Gets information about the specified product.</p>",
    "errors": [
      "ResourceNotFoundException",
      "InvalidParametersException"
    ],
    "input_shape": "DescribeProductViewInput",
    "output_shape": "DescribeProductViewOutput",
    "input": {
      "required": [
        "Id"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "Id": {
          "type": "Id",
          "documentation": "<p>The product view identifier.</p>"
        }
      }
    }
  },
  "DescribeProvisionedProduct": {
    "description": "<p>Gets information about the specified provisioned product.</p>",
    "errors": [
      "ResourceNotFoundException",
      "InvalidParametersException"
    ],
    "input_shape": "DescribeProvisionedProductInput",
    "output_shape": "DescribeProvisionedProductOutput",
    "input": {
      "required": [],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "Id": {
          "type": "Id",
          "documentation": "<p>The provisioned product identifier. You must provide the name or ID, but not both.</p> <p>If you do not provide a name or ID, or you provide both name and ID, an <code>InvalidParametersException</code> will occur.</p>"
        },
        "Name": {
          "type": "ProvisionedProductName",
          "documentation": "<p>The name of the provisioned product. You must provide the name or ID, but not both.</p> <p>If you do not provide a name or ID, or you provide both name and ID, an <code>InvalidParametersException</code> will occur.</p>"
        }
      }
    }
  },
  "DescribeProvisionedProductPlan": {
    "description": "<p>Gets information about the resource changes for the specified plan.</p>",
    "errors": [
      "ResourceNotFoundException",
      "InvalidParametersException"
    ],
    "input_shape": "DescribeProvisionedProductPlanInput",
    "output_shape": "DescribeProvisionedProductPlanOutput",
    "input": {
      "required": [
        "PlanId"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "PlanId": {
          "type": "Id",
          "documentation": "<p>The plan identifier.</p>"
        },
        "PageSize": {
          "type": "PageSize",
          "documentation": "<p>The maximum number of items to return with this call.</p>"
        },
        "PageToken": {
          "type": "PageToken",
          "documentation": "<p>The page token for the next set of results. To retrieve the first set of results, use null.</p>"
        }
      }
    }
  },
  "DescribeProvisioningArtifact": {
    "description": "<p>Gets information about the specified provisioning artifact (also known as a version) for the specified product.</p>",
    "errors": [
      "ResourceNotFoundException",
      "InvalidParametersException"
    ],
    "input_shape": "DescribeProvisioningArtifactInput",
    "output_shape": "DescribeProvisioningArtifactOutput",
    "input": {
      "required": [],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "ProvisioningArtifactId": {
          "type": "Id",
          "documentation": "<p>The identifier of the provisioning artifact.</p>"
        },
        "ProductId": {
          "type": "Id",
          "documentation": "<p>The product identifier.</p>"
        },
        "ProvisioningArtifactName": {
          "type": "ProvisioningArtifactName",
          "documentation": "<p>The provisioning artifact name.</p>"
        },
        "ProductName": {
          "type": "ProductViewName",
          "documentation": "<p>The product name.</p>"
        },
        "Verbose": {
          "type": "Verbose",
          "documentation": "<p>Indicates whether a verbose level of detail is enabled.</p>"
        },
        "IncludeProvisioningArtifactParameters": {
          "type": "Boolean",
          "documentation": "<p>Indicates if the API call response does or does not include additional details about the provisioning parameters. </p>"
        }
      }
    }
  },
  "DescribeProvisioningParameters": {
    "description": "<p>Gets information about the configuration required to provision the specified product using the specified provisioning artifact.</p> <p>If the output contains a TagOption key with an empty list of values, there is a TagOption conflict for that key. The end user cannot take action to fix the conflict, and launch is not blocked. In subsequent calls to <a>ProvisionProduct</a>, do not include conflicted TagOption keys as tags, or this causes the error \"Parameter validation failed: Missing required parameter in Tags[<i>N</i>]:<i>Value</i>\". Tag the provisioned product with the value <code>sc-tagoption-conflict-portfolioId-productId</code>.</p>",
    "errors": [
      "InvalidParametersException",
      "ResourceNotFoundException"
    ],
    "input_shape": "DescribeProvisioningParametersInput",
    "output_shape": "DescribeProvisioningParametersOutput",
    "input": {
      "required": [],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "ProductId": {
          "type": "Id",
          "documentation": "<p>The product identifier. You must provide the product name or ID, but not both.</p>"
        },
        "ProductName": {
          "type": "ProductViewName",
          "documentation": "<p>The name of the product. You must provide the name or ID, but not both.</p>"
        },
        "ProvisioningArtifactId": {
          "type": "Id",
          "documentation": "<p>The identifier of the provisioning artifact. You must provide the name or ID, but not both.</p>"
        },
        "ProvisioningArtifactName": {
          "type": "ProvisioningArtifactName",
          "documentation": "<p>The name of the provisioning artifact. You must provide the name or ID, but not both.</p>"
        },
        "PathId": {
          "type": "Id",
          "documentation": "<p>The path identifier of the product. This value is optional if the product has a default path, and required if the product has more than one path. To list the paths for a product, use <a>ListLaunchPaths</a>. You must provide the name or ID, but not both.</p>"
        },
        "PathName": {
          "type": "PortfolioDisplayName",
          "documentation": "<p>The name of the path. You must provide the name or ID, but not both.</p>"
        }
      }
    }
  },
  "DescribeRecord": {
    "description": "<p>Gets information about the specified request operation.</p> <p>Use this operation after calling a request operation (for example, <a>ProvisionProduct</a>, <a>TerminateProvisionedProduct</a>, or <a>UpdateProvisionedProduct</a>). </p> <note> <p>If a provisioned product was transferred to a new owner using <a>UpdateProvisionedProductProperties</a>, the new owner will be able to describe all past records for that product. The previous owner will no longer be able to describe the records, but will be able to use <a>ListRecordHistory</a> to see the product's history from when he was the owner.</p> </note>",
    "errors": [
      "ResourceNotFoundException"
    ],
    "input_shape": "DescribeRecordInput",
    "output_shape": "DescribeRecordOutput",
    "input": {
      "required": [
        "Id"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "Id": {
          "type": "Id",
          "documentation": "<p>The record identifier of the provisioned product. This identifier is returned by the request operation.</p>"
        },
        "PageToken": {
          "type": "PageToken",
          "documentation": "<p>The page token for the next set of results. To retrieve the first set of results, use null.</p>"
        },
        "PageSize": {
          "type": "PageSize",
          "documentation": "<p>The maximum number of items to return with this call.</p>"
        }
      }
    }
  },
  "DescribeServiceAction": {
    "description": "<p>Describes a self-service action.</p>",
    "errors": [
      "ResourceNotFoundException"
    ],
    "input_shape": "DescribeServiceActionInput",
    "output_shape": "DescribeServiceActionOutput",
    "input": {
      "required": [
        "Id"
      ],
      "members": {
        "Id": {
          "type": "Id",
          "documentation": "<p>The self-service action identifier.</p>"
        },
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        }
      }
    }
  },
  "DescribeServiceActionExecutionParameters": {
    "description": "<p>Finds the default parameters for a specific self-service action on a specific provisioned product and returns a map of the results to the user.</p>",
    "errors": [
      "InvalidParametersException",
      "ResourceNotFoundException"
    ],
    "input_shape": "DescribeServiceActionExecutionParametersInput",
    "output_shape": "DescribeServiceActionExecutionParametersOutput",
    "input": {
      "required": [
        "ProvisionedProductId",
        "ServiceActionId"
      ],
      "members": {
        "ProvisionedProductId": {
          "type": "Id",
          "documentation": "<p>The identifier of the provisioned product.</p>"
        },
        "ServiceActionId": {
          "type": "Id",
          "documentation": "<p>The self-service action identifier.</p>"
        },
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        }
      }
    }
  },
  "DescribeTagOption": {
    "description": "<p>Gets information about the specified TagOption.</p>",
    "errors": [
      "TagOptionNotMigratedException",
      "ResourceNotFoundException"
    ],
    "input_shape": "DescribeTagOptionInput",
    "output_shape": "DescribeTagOptionOutput",
    "input": {
      "required": [
        "Id"
      ],
      "members": {
        "Id": {
          "type": "TagOptionId",
          "documentation": "<p>The TagOption identifier.</p>"
        }
      }
    }
  },
  "DisableAWSOrganizationsAccess": {
    "description": "<p>Disable portfolio sharing through the Organizations service. This command will not delete your current shares, but prevents you from creating new shares throughout your organization. Current shares are not kept in sync with your organization structure if the structure changes after calling this API. Only the management account in the organization can call this API.</p> <p>You cannot call this API if there are active delegated administrators in the organization.</p> <p>Note that a delegated administrator is not authorized to invoke <code>DisableAWSOrganizationsAccess</code>.</p> <important> <p>If you share an Service Catalog portfolio in an organization within Organizations, and then disable Organizations access for Service Catalog, the portfolio access permissions will not sync with the latest changes to the organization structure. Specifically, accounts that you removed from the organization after disabling Service Catalog access will retain access to the previously shared portfolio.</p> </important>",
    "errors": [
      "ResourceNotFoundException",
      "InvalidStateException",
      "OperationNotSupportedException"
    ],
    "input_shape": "DisableAWSOrganizationsAccessInput",
    "output_shape": "DisableAWSOrganizationsAccessOutput",
    "input": {
      "required": [],
      "members": {}
    }
  },
  "DisassociateBudgetFromResource": {
    "description": "<p>Disassociates the specified budget from the specified resource.</p>",
    "errors": [
      "ResourceNotFoundException"
    ],
    "input_shape": "DisassociateBudgetFromResourceInput",
    "output_shape": "DisassociateBudgetFromResourceOutput",
    "input": {
      "required": [
        "BudgetName",
        "ResourceId"
      ],
      "members": {
        "BudgetName": {
          "type": "BudgetName",
          "documentation": "<p>The name of the budget you want to disassociate.</p>"
        },
        "ResourceId": {
          "type": "Id",
          "documentation": "<p>The resource identifier you want to disassociate from. Either a portfolio-id or a product-id.</p>"
        }
      }
    }
  },
  "DisassociatePrincipalFromPortfolio": {
    "description": "<p>Disassociates a previously associated principal ARN from a specified portfolio.</p> <p>The <code>PrincipalType</code> and <code>PrincipalARN</code> must match the <code>AssociatePrincipalWithPortfolio</code> call request details. For example, to disassociate an association created with a <code>PrincipalARN</code> of <code>PrincipalType</code> IAM you must use the <code>PrincipalType</code> IAM when calling <code>DisassociatePrincipalFromPortfolio</code>. </p> <p>For portfolios that have been shared with principal name sharing enabled: after disassociating a principal, share recipient accounts will no longer be able to provision products in this portfolio using a role matching the name of the associated principal. </p> <p>For more information, review <a href=\"https://docs.aws.amazon.com/cli/latest/reference/servicecatalog/associate-principal-with-portfolio.html#options\">associate-principal-with-portfolio</a> in the Amazon Web Services CLI Command Reference. </p> <note> <p>If you disassociate a principal from a portfolio, with PrincipalType as <code>IAM</code>, the same principal will still have access to the portfolio if it matches one of the associated principals of type <code>IAM_PATTERN</code>. To fully remove access for a principal, verify all the associated Principals of type <code>IAM_PATTERN</code>, and then ensure you disassociate any <code>IAM_PATTERN</code> principals that match the principal whose access you are removing.</p> </note>",
    "errors": [
      "InvalidParametersException",
      "ResourceNotFoundException"
    ],
    "input_shape": "DisassociatePrincipalFromPortfolioInput",
    "output_shape": "DisassociatePrincipalFromPortfolioOutput",
    "input": {
      "required": [
        "PortfolioId",
        "PrincipalARN"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "PortfolioId": {
          "type": "Id",
          "documentation": "<p>The portfolio identifier.</p>"
        },
        "PrincipalARN": {
          "type": "PrincipalARN",
          "documentation": "<p>The ARN of the principal (user, role, or group). This field allows an ARN with no <code>accountID</code> with or without wildcard characters if <code>PrincipalType</code> is <code>IAM_PATTERN</code>.</p>"
        },
        "PrincipalType": {
          "type": "PrincipalType",
          "documentation": "<p>The supported value is <code>IAM</code> if you use a fully defined ARN, or <code>IAM_PATTERN</code> if you specify an <code>IAM</code> ARN with no AccountId, with or without wildcard characters. </p>"
        }
      }
    }
  },
  "DisassociateProductFromPortfolio": {
    "description": "<p>Disassociates the specified product from the specified portfolio. </p> <p>A delegated admin is authorized to invoke this command.</p>",
    "errors": [
      "ResourceNotFoundException",
      "ResourceInUseException",
      "InvalidParametersException"
    ],
    "input_shape": "DisassociateProductFromPortfolioInput",
    "output_shape": "DisassociateProductFromPortfolioOutput",
    "input": {
      "required": [
        "ProductId",
        "PortfolioId"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "ProductId": {
          "type": "Id",
          "documentation": "<p>The product identifier.</p>"
        },
        "PortfolioId": {
          "type": "Id",
          "documentation": "<p>The portfolio identifier.</p>"
        }
      }
    }
  },
  "DisassociateServiceActionFromProvisioningArtifact": {
    "description": "<p>Disassociates the specified self-service action association from the specified provisioning artifact.</p>",
    "errors": [
      "ResourceNotFoundException",
      "InvalidParametersException"
    ],
    "input_shape": "DisassociateServiceActionFromProvisioningArtifactInput",
    "output_shape": "DisassociateServiceActionFromProvisioningArtifactOutput",
    "input": {
      "required": [
        "ProductId",
        "ProvisioningArtifactId",
        "ServiceActionId"
      ],
      "members": {
        "ProductId": {
          "type": "Id",
          "documentation": "<p>The product identifier. For example, <code>prod-abcdzk7xy33qa</code>.</p>"
        },
        "ProvisioningArtifactId": {
          "type": "Id",
          "documentation": "<p>The identifier of the provisioning artifact. For example, <code>pa-4abcdjnxjj6ne</code>.</p>"
        },
        "ServiceActionId": {
          "type": "Id",
          "documentation": "<p>The self-service action identifier. For example, <code>act-fs7abcd89wxyz</code>.</p>"
        },
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "IdempotencyToken": {
          "type": "IdempotencyToken",
          "documentation": "<p>A unique identifier that you provide to ensure idempotency. If multiple requests from the same Amazon Web Services account use the same idempotency token, the same response is returned for each repeated request. </p>"
        }
      }
    }
  },
  "DisassociateTagOptionFromResource": {
    "description": "<p>Disassociates the specified TagOption from the specified resource.</p>",
    "errors": [
      "TagOptionNotMigratedException",
      "ResourceNotFoundException"
    ],
    "input_shape": "DisassociateTagOptionFromResourceInput",
    "output_shape": "DisassociateTagOptionFromResourceOutput",
    "input": {
      "required": [
        "ResourceId",
        "TagOptionId"
      ],
      "members": {
        "ResourceId": {
          "type": "ResourceId",
          "documentation": "<p>The resource identifier.</p>"
        },
        "TagOptionId": {
          "type": "TagOptionId",
          "documentation": "<p>The TagOption identifier.</p>"
        }
      }
    }
  },
  "EnableAWSOrganizationsAccess": {
    "description": "<p>Enable portfolio sharing feature through Organizations. This API will allow Service Catalog to receive updates on your organization in order to sync your shares with the current structure. This API can only be called by the management account in the organization.</p> <p>When you call this API, Service Catalog calls <code>organizations:EnableAWSServiceAccess</code> on your behalf so that your shares stay in sync with any changes in your Organizations structure.</p> <p>Note that a delegated administrator is not authorized to invoke <code>EnableAWSOrganizationsAccess</code>.</p> <important> <p>If you have previously disabled Organizations access for Service Catalog, and then enable access again, the portfolio access permissions might not sync with the latest changes to the organization structure. Specifically, accounts that you removed from the organization after disabling Service Catalog access, and before you enabled access again, can retain access to the previously shared portfolio. As a result, an account that has been removed from the organization might still be able to create or manage Amazon Web Services resources when it is no longer authorized to do so. Amazon Web Services is working to resolve this issue.</p> </important>",
    "errors": [
      "ResourceNotFoundException",
      "InvalidStateException",
      "OperationNotSupportedException"
    ],
    "input_shape": "EnableAWSOrganizationsAccessInput",
    "output_shape": "EnableAWSOrganizationsAccessOutput",
    "input": {
      "required": [],
      "members": {}
    }
  },
  "ExecuteProvisionedProductPlan": {
    "description": "<p>Provisions or modifies a product based on the resource changes for the specified plan.</p>",
    "errors": [
      "InvalidParametersException",
      "ResourceNotFoundException",
      "InvalidStateException"
    ],
    "input_shape": "ExecuteProvisionedProductPlanInput",
    "output_shape": "ExecuteProvisionedProductPlanOutput",
    "input": {
      "required": [
        "PlanId",
        "IdempotencyToken"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "PlanId": {
          "type": "Id",
          "documentation": "<p>The plan identifier.</p>"
        },
        "IdempotencyToken": {
          "type": "IdempotencyToken",
          "documentation": "<p>A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token, the same response is returned for each repeated request.</p>"
        }
      }
    }
  },
  "ExecuteProvisionedProductServiceAction": {
    "description": "<p>Executes a self-service action against a provisioned product.</p>",
    "errors": [
      "InvalidParametersException",
      "ResourceNotFoundException",
      "InvalidStateException"
    ],
    "input_shape": "ExecuteProvisionedProductServiceActionInput",
    "output_shape": "ExecuteProvisionedProductServiceActionOutput",
    "input": {
      "required": [
        "ProvisionedProductId",
        "ServiceActionId",
        "ExecuteToken"
      ],
      "members": {
        "ProvisionedProductId": {
          "type": "Id",
          "documentation": "<p>The identifier of the provisioned product.</p>"
        },
        "ServiceActionId": {
          "type": "Id",
          "documentation": "<p>The self-service action identifier. For example, <code>act-fs7abcd89wxyz</code>.</p>"
        },
        "ExecuteToken": {
          "type": "IdempotencyToken",
          "documentation": "<p>An idempotency token that uniquely identifies the execute request.</p>"
        },
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "Parameters": {
          "type": "ExecutionParameterMap",
          "documentation": "<p>A map of all self-service action parameters and their values. If a provided parameter is of a special type, such as <code>TARGET</code>, the provided value will override the default value generated by Service Catalog. If the parameters field is not provided, no additional parameters are passed and default values will be used for any special parameters such as <code>TARGET</code>.</p>"
        }
      }
    }
  },
  "GetAWSOrganizationsAccessStatus": {
    "description": "<p>Get the Access Status for Organizations portfolio share feature. This API can only be called by the management account in the organization or by a delegated admin.</p>",
    "errors": [
      "ResourceNotFoundException",
      "OperationNotSupportedException"
    ],
    "input_shape": "GetAWSOrganizationsAccessStatusInput",
    "output_shape": "GetAWSOrganizationsAccessStatusOutput",
    "input": {
      "required": [],
      "members": {}
    }
  },
  "GetProvisionedProductOutputs": {
    "description": "<p>This API takes either a <code>ProvisonedProductId</code> or a <code>ProvisionedProductName</code>, along with a list of one or more output keys, and responds with the key/value pairs of those outputs.</p>",
    "errors": [
      "InvalidParametersException",
      "ResourceNotFoundException"
    ],
    "input_shape": "GetProvisionedProductOutputsInput",
    "output_shape": "GetProvisionedProductOutputsOutput",
    "input": {
      "required": [],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "ProvisionedProductId": {
          "type": "Id",
          "documentation": "<p>The identifier of the provisioned product that you want the outputs from.</p>"
        },
        "ProvisionedProductName": {
          "type": "ProvisionedProductName",
          "documentation": "<p>The name of the provisioned product that you want the outputs from.</p>"
        },
        "OutputKeys": {
          "type": "OutputKeys",
          "documentation": "<p>The list of keys that the API should return with their values. If none are provided, the API will return all outputs of the provisioned product.</p>"
        },
        "PageSize": {
          "type": "PageSize",
          "documentation": "<p>The maximum number of items to return with this call.</p>"
        },
        "PageToken": {
          "type": "PageToken",
          "documentation": "<p>The page token for the next set of results. To retrieve the first set of results, use null.</p>"
        }
      }
    }
  },
  "ImportAsProvisionedProduct": {
    "description": "<p> Requests the import of a resource as an Service Catalog provisioned product that is associated to an Service Catalog product and provisioning artifact. Once imported, all supported governance actions are supported on the provisioned product. </p> <p> Resource import only supports CloudFormation stack ARNs. CloudFormation StackSets, and non-root nested stacks, are not supported. </p> <p> The CloudFormation stack must have one of the following statuses to be imported: <code>CREATE_COMPLETE</code>, <code>UPDATE_COMPLETE</code>, <code>UPDATE_ROLLBACK_COMPLETE</code>, <code>IMPORT_COMPLETE</code>, and <code>IMPORT_ROLLBACK_COMPLETE</code>. </p> <p> Import of the resource requires that the CloudFormation stack template matches the associated Service Catalog product provisioning artifact. </p> <note> <p> When you import an existing CloudFormation stack into a portfolio, Service Catalog does not apply the product's associated constraints during the import process. Service Catalog applies the constraints after you call <code>UpdateProvisionedProduct</code> for the provisioned product. </p> </note> <p> The user or role that performs this operation must have the <code>cloudformation:GetTemplate</code> and <code>cloudformation:DescribeStacks</code> IAM policy permissions. </p> <p>You can only import one provisioned product at a time. The product's CloudFormation stack must have the <code>IMPORT_COMPLETE</code> status before you import another. </p>",
    "errors": [
      "DuplicateResourceException",
      "InvalidStateException",
      "ResourceNotFoundException",
      "InvalidParametersException"
    ],
    "input_shape": "ImportAsProvisionedProductInput",
    "output_shape": "ImportAsProvisionedProductOutput",
    "input": {
      "required": [
        "ProductId",
        "ProvisioningArtifactId",
        "ProvisionedProductName",
        "PhysicalId",
        "IdempotencyToken"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "ProductId": {
          "type": "Id",
          "documentation": "<p>The product identifier.</p>"
        },
        "ProvisioningArtifactId": {
          "type": "Id",
          "documentation": "<p>The identifier of the provisioning artifact.</p>"
        },
        "ProvisionedProductName": {
          "type": "ProvisionedProductName",
          "documentation": "<p>The user-friendly name of the provisioned product. The value must be unique for the Amazon Web Services account. The name cannot be updated after the product is provisioned. </p>"
        },
        "PhysicalId": {
          "type": "PhysicalId",
          "documentation": "<p>The unique identifier of the resource to be imported. It only currently supports CloudFormation stack IDs.</p>"
        },
        "IdempotencyToken": {
          "type": "IdempotencyToken",
          "documentation": "<p>A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token, the same response is returned for each repeated request.</p>"
        }
      }
    }
  },
  "ListAcceptedPortfolioShares": {
    "description": "<p>Lists all imported portfolios for which account-to-account shares were accepted by this account. By specifying the <code>PortfolioShareType</code>, you can list portfolios for which organizational shares were accepted by this account.</p>",
    "errors": [
      "InvalidParametersException",
      "OperationNotSupportedException"
    ],
    "input_shape": "ListAcceptedPortfolioSharesInput",
    "output_shape": "ListAcceptedPortfolioSharesOutput",
    "input": {
      "required": [],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "PageToken": {
          "type": "PageToken",
          "documentation": "<p>The page token for the next set of results. To retrieve the first set of results, use null.</p>"
        },
        "PageSize": {
          "type": "PageSizeMax100",
          "documentation": "<p>The maximum number of items to return with this call.</p>"
        },
        "PortfolioShareType": {
          "type": "PortfolioShareType",
          "documentation": "<p>The type of shared portfolios to list. The default is to list imported portfolios.</p> <ul> <li> <p> <code>AWS_ORGANIZATIONS</code> - List portfolios accepted and shared via organizational sharing by the management account or delegated administrator of your organization.</p> </li> <li> <p> <code>AWS_SERVICECATALOG</code> - Deprecated type.</p> </li> <li> <p> <code>IMPORTED</code> - List imported portfolios that have been accepted and shared through account-to-account sharing.</p> </li> </ul>"
        }
      }
    }
  },
  "ListBudgetsForResource": {
    "description": "<p>Lists all the budgets associated to the specified resource.</p>",
    "errors": [
      "ResourceNotFoundException",
      "InvalidParametersException"
    ],
    "input_shape": "ListBudgetsForResourceInput",
    "output_shape": "ListBudgetsForResourceOutput",
    "input": {
      "required": [
        "ResourceId"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "ResourceId": {
          "type": "Id",
          "documentation": "<p>The resource identifier.</p>"
        },
        "PageSize": {
          "type": "PageSize",
          "documentation": "<p>The maximum number of items to return with this call.</p>"
        },
        "PageToken": {
          "type": "PageToken",
          "documentation": "<p>The page token for the next set of results. To retrieve the first set of results, use null.</p>"
        }
      }
    }
  },
  "ListConstraintsForPortfolio": {
    "description": "<p>Lists the constraints for the specified portfolio and product.</p>",
    "errors": [
      "ResourceNotFoundException",
      "InvalidParametersException"
    ],
    "input_shape": "ListConstraintsForPortfolioInput",
    "output_shape": "ListConstraintsForPortfolioOutput",
    "input": {
      "required": [
        "PortfolioId"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "PortfolioId": {
          "type": "Id",
          "documentation": "<p>The portfolio identifier.</p>"
        },
        "ProductId": {
          "type": "Id",
          "documentation": "<p>The product identifier.</p>"
        },
        "PageSize": {
          "type": "PageSize",
          "documentation": "<p>The maximum number of items to return with this call.</p>"
        },
        "PageToken": {
          "type": "PageToken",
          "documentation": "<p>The page token for the next set of results. To retrieve the first set of results, use null.</p>"
        }
      }
    }
  },
  "ListLaunchPaths": {
    "description": "<p> Lists the paths to the specified product. A path describes how the user gets access to a specified product and is necessary when provisioning a product. A path also determines the constraints that are put on a product. A path is dependent on a specific product, porfolio, and principal. </p> <note> <p> When provisioning a product that's been added to a portfolio, you must grant your user, group, or role access to the portfolio. For more information, see <a href=\"https://docs.aws.amazon.com/servicecatalog/latest/adminguide/catalogs_portfolios_users.html\">Granting users access</a> in the <i>Service Catalog User Guide</i>. </p> </note>",
    "errors": [
      "InvalidParametersException",
      "ResourceNotFoundException"
    ],
    "input_shape": "ListLaunchPathsInput",
    "output_shape": "ListLaunchPathsOutput",
    "input": {
      "required": [
        "ProductId"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "ProductId": {
          "type": "Id",
          "documentation": "<p>The product identifier.</p>"
        },
        "PageSize": {
          "type": "PageSize",
          "documentation": "<p>The maximum number of items to return with this call.</p>"
        },
        "PageToken": {
          "type": "PageToken",
          "documentation": "<p>The page token for the next set of results. To retrieve the first set of results, use null.</p>"
        }
      }
    }
  },
  "ListOrganizationPortfolioAccess": {
    "description": "<p>Lists the organization nodes that have access to the specified portfolio. This API can only be called by the management account in the organization or by a delegated admin.</p> <p>If a delegated admin is de-registered, they can no longer perform this operation.</p>",
    "errors": [
      "ResourceNotFoundException",
      "InvalidParametersException",
      "OperationNotSupportedException"
    ],
    "input_shape": "ListOrganizationPortfolioAccessInput",
    "output_shape": "ListOrganizationPortfolioAccessOutput",
    "input": {
      "required": [
        "PortfolioId",
        "OrganizationNodeType"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "PortfolioId": {
          "type": "Id",
          "documentation": "<p>The portfolio identifier. For example, <code>port-2abcdext3y5fk</code>.</p>"
        },
        "OrganizationNodeType": {
          "type": "OrganizationNodeType",
          "documentation": "<p>The organization node type that will be returned in the output.</p> <ul> <li> <p> <code>ORGANIZATION</code> - Organization that has access to the portfolio. </p> </li> <li> <p> <code>ORGANIZATIONAL_UNIT</code> - Organizational unit that has access to the portfolio within your organization.</p> </li> <li> <p> <code>ACCOUNT</code> - Account that has access to the portfolio within your organization.</p> </li> </ul>"
        },
        "PageToken": {
          "type": "PageToken",
          "documentation": "<p>The page token for the next set of results. To retrieve the first set of results, use null.</p>"
        },
        "PageSize": {
          "type": "PageSize",
          "documentation": "<p>The maximum number of items to return with this call.</p>"
        }
      }
    }
  },
  "ListPortfolioAccess": {
    "description": "<p>Lists the account IDs that have access to the specified portfolio.</p> <p>A delegated admin can list the accounts that have access to the shared portfolio. Note that if a delegated admin is de-registered, they can no longer perform this operation.</p>",
    "errors": [
      "ResourceNotFoundException",
      "InvalidParametersException"
    ],
    "input_shape": "ListPortfolioAccessInput",
    "output_shape": "ListPortfolioAccessOutput",
    "input": {
      "required": [
        "PortfolioId"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "PortfolioId": {
          "type": "Id",
          "documentation": "<p>The portfolio identifier.</p>"
        },
        "OrganizationParentId": {
          "type": "Id",
          "documentation": "<p>The ID of an organization node the portfolio is shared with. All children of this node with an inherited portfolio share will be returned.</p>"
        },
        "PageToken": {
          "type": "PageToken",
          "documentation": "<p>The page token for the next set of results. To retrieve the first set of results, use null.</p>"
        },
        "PageSize": {
          "type": "PageSizeMax100",
          "documentation": "<p>The maximum number of items to return with this call.</p>"
        }
      }
    }
  },
  "ListPortfolios": {
    "description": "<p>Lists all portfolios in the catalog.</p>",
    "errors": [
      "InvalidParametersException"
    ],
    "input_shape": "ListPortfoliosInput",
    "output_shape": "ListPortfoliosOutput",
    "input": {
      "required": [],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "PageToken": {
          "type": "PageToken",
          "documentation": "<p>The page token for the next set of results. To retrieve the first set of results, use null.</p>"
        },
        "PageSize": {
          "type": "PageSizeMax100",
          "documentation": "<p>The maximum number of items to return with this call.</p>"
        }
      }
    }
  },
  "ListPortfoliosForProduct": {
    "description": "<p>Lists all portfolios that the specified product is associated with.</p>",
    "errors": [
      "InvalidParametersException",
      "ResourceNotFoundException"
    ],
    "input_shape": "ListPortfoliosForProductInput",
    "output_shape": "ListPortfoliosForProductOutput",
    "input": {
      "required": [
        "ProductId"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "ProductId": {
          "type": "Id",
          "documentation": "<p>The product identifier.</p>"
        },
        "PageToken": {
          "type": "PageToken",
          "documentation": "<p>The page token for the next set of results. To retrieve the first set of results, use null.</p>"
        },
        "PageSize": {
          "type": "PageSizeMax100",
          "documentation": "<p>The maximum number of items to return with this call.</p>"
        }
      }
    }
  },
  "ListPrincipalsForPortfolio": {
    "description": "<p>Lists all <code>PrincipalARN</code>s and corresponding <code>PrincipalType</code>s associated with the specified portfolio.</p>",
    "errors": [
      "ResourceNotFoundException",
      "InvalidParametersException"
    ],
    "input_shape": "ListPrincipalsForPortfolioInput",
    "output_shape": "ListPrincipalsForPortfolioOutput",
    "input": {
      "required": [
        "PortfolioId"
      ],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "PortfolioId": {
          "type": "Id",
          "documentation": "<p>The portfolio identifier.</p>"
        },
        "PageSize": {
          "type": "PageSize",
          "documentation": "<p>The maximum number of items to return with this call.</p>"
        },
        "PageToken": {
          "type": "PageToken",
          "documentation": "<p>The page token for the next set of results. To retrieve the first set of results, use null.</p>"
        }
      }
    }
  },
  "ListProvisionedProductPlans": {
    "description": "<p>Lists the plans for the specified provisioned product or all plans to which the user has access.</p>",
    "errors": [
      "ResourceNotFoundException",
      "InvalidParametersException"
    ],
    "input_shape": "ListProvisionedProductPlansInput",
    "output_shape": "ListProvisionedProductPlansOutput",
    "input": {
      "required": [],
      "members": {
        "AcceptLanguage": {
          "type": "AcceptLanguage",
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "ProvisionProductId": {
          "type": "Id",
          "documentation": "<p>The product identifier.</p>"
        },
        "PageSize": {
          "type": "PageSize",
          "documentation": "<p>The maximum number of items to return with this call.</p>"
        },
        "PageToken": {
          "type": "PageToken",
          "documentation": "<p>The page token for the next set of results. To retrieve the first set of results, use null.</p>"
        },
        "AccessLevelFilter": {
          "type": "AccessLevelFilter",
[...]
